<div class="FlexDisplay FlexColumn container"  style="margin:0px; padding:0px; height:100%;">
	<div class="FlexDisplay" style="background:#535FD7; height:48px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);" >
		<div id="backBtn"  class="nav-button" >
			<i class="mdi mdi-apps"></i>
		</div>
		<div class="FlexDisplay">
			<span class="BHIS-Title" style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; font-weight:normal; font-size:12px; color:#ffffff; margin:auto 8px;">Basic Laboratory Information System</span>
		</div>
		<div class="FlexDisplay FlexGrow" style="height:100%;"></div>
		<!--<div class="search dropdown" tooltip="search" flow="down">
			<div class="nav-button transparent dropdown">
				<i class="mdi mdi-account-search"></i>
			</div>
			<div class="submenu">
				<ul class="root"/>
			</div>
		</div>
		<div class="clear dropdown" tooltip="clear" flow="down">
			<div class="nav-button transparent dropdown">
				<i class="mdi mdi-rotate-left"></i>
			</div>
			<div class="submenu">
				<ul class="root"/>
			</div>
		</div>
		<div class="save dropdown" tooltip="save" flow="down">
			<div class="nav-button transparent dropdown">
				<i class="mdi mdi-check-circle"></i>
			</div>
			<div class="submenu">
				<ul class="root"/>
			</div>
		</div>-->
	</div>
	<div class="FlexDisplay FlexColumn Flex ContentPage inner-section FadeIn"  style="width:100%; height:1px;">
		<!--
		<div class="FlexDisplay FlexBoxSizing-BorderBox FormArea" style="width:100%; height:100%; overflow: hidden; position:relative;">
			<div class="FlexDisplay FlexBoxSizing-BorderBox" style="min-width:272px; max-width:272px;  height:100%; overflow: hidden; position:relative;">
				<div class="FlexBoxSizing-BorderBox active" style="padding:16px 0px 16px 16px; height:100%; min-width:256px; max-width:256px;">
					<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative;  height:calc(100% - 0px); width:100%;">
						<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox" style="width:100%; height:calc(100% - 0px);  z-index:2;">
							<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
								<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">FACILITY</h4>
							</div>
							<div class="FlexDisplay Flex Overflow-Hidden Divider-Bottom" style="padding:0px 0px 0px 0px;  min-width:240px; max-width:240px;">
								<div id="mapid" style="width: 100%; height: 100%;"></div>
							</div>
							<div class="FlexDisplay FlexColumn" style="min-height:216px; padding:8px 8px 8px 8px" >
								<div class="FlexDisplay FlexRow"  style="width:100%; height:40px; padding:4px 0px; 0px 0px">						
									<div class="FlexDisplay Flex">
										<div class="FlexDisplay Flex FlexRow form-control" style="padding:0px 0px 0px 8px;">
											<input id="facility_search_text" type="text" placeholder="Search"/>
											<div id="facility_search_button" class="icon btn-color Divider-Left"  style="border-radius: 0 4px 4px 0;">
												<i class="mdi mdi-map-search" />
											</div>
											
										</div>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:40px; padding:4px 0px; 0px 0px">						
									<div class="FlexDisplay Flex">
										<div class="FlexDisplay Flex FlexRow form-control" style="padding:0px 0px 0px 8px;">
											<input id="facility_name_text" type="text" placeholder="Name" disabled/>
										</div>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:40px; padding:4px 0px; 0px 0px">						
									<div class="FlexDisplay Flex">
										<div class="FlexDisplay Flex FlexRow form-control" style="padding:0px 0px 0px 8px;">
											<input id="facility_region_text" type="text" placeholder="Region" disabled/>
										</div>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:40px; padding:4px 0px; 0px 0px">						
									<div class="FlexDisplay Flex">
										<div class="FlexDisplay Flex FlexRow form-control" style="padding:0px 0px 0px 8px;">
											<input id="facility_district_text" type="text" placeholder="District" disabled/>
										</div>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:40px; padding:4px 0px; 0px 0px">						
									<div class="FlexDisplay Flex">
										<div class="FlexDisplay Flex FlexRow form-control" style="padding:0px 0px 0px 8px;">
											<input id="facility_type_text" type="text" placeholder="Type" disabled/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="width:100%; height:100%; margin:16px 16px 16px 0px;">
				<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; height:calc(100% - 32px);  width:100%;">
					<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
						<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">RECEPTION</h4>
						<div class="FlexDisplay FlexGrow" style="height:100%;"></div>
					</div>
					<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox" style="width:100%;  height:calc(100% - 32px); z-index:2; position:relative;">						
						<div class="animated-sub-page FlexColumn FlexBoxSizing-BorderBox active scroll scroll2" data-path="section-0"  style="width:100%; height:100%; overflow-y:auto; overflow-x:hidden; display: block;">						
							<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox" style="width:100%; margin:0px 0px 16px 0px;">
								<div class="FlexDisplay FlexRow Divider-Bottom" style="background:#182538;min-height:32px;max-height:32px;margin:0px 0px 2px 0px;" >
									<div style="font-size:14px; margin:0px 0px 0px 12px;">
										<i class="mdi mdi-card-account-details-outline" style="height:100%; color:white;" />
									</div>
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:8px 0px 8px 10px; font-size: 12px; font-weight:normal; line-height:16px;">General Information</h4>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 8px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal; line-height:16px;">Reference Number</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Patient Number</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 4px; font-size: 12px; font-weight:normal; line-height:16px;">National ID</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px;">
											<div class="icon">
												<i class="mdi mdi-arrow-decision-outline" />
											</div>
											<input class="ReferenceNumber" type="text" placeholder="Reference Number"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-badge-account-outline" />
											</div>
											<input class="PatientNumber" type="text" placeholder="Patient Number"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 0px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-badge-account-outline" />
											</div>
											<input class="NationalID" type="text" placeholder="National ID"/>
										</div>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal; line-height:16px;">First Name</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Middle Name</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 4px; font-size: 12px; font-weight:normal; line-height:16px;">Last Name</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px;">
											<div class="icon">
												<i class="mdi mdi-account" />
											</div>
											<input class="FirstName" type="text" placeholder="First Name"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-account" />
											</div>
											<input class="MiddleName" type="text" placeholder="Middle Name"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 0px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-account" />
											</div>
											<input class="LastName" type="text" placeholder="Last Name"/>
										</div>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal; line-height:16px;">Gender</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Date Of Birth</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 4px; font-size: 12px; font-weight:normal; line-height:16px;">Phone Number</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="Flex btn-group btn-group-toggle gender" data-toggle="buttons" style="margin:0px 4px 0px 0px;">
											<label class="btn btn-color" tooltip="Ambiguous" flow="right">
												<input value="A" type="radio" name="gender_options" autocomplete="off"><div style="width:8px; height:8px; margin:auto auto;">A</div>
											</label>
											<label class="btn btn-color" tooltip="Female" flow="up">
												<input value="F" type="radio" name="gender_options" autocomplete="off"><div style="width:8px; height:8px; margin:auto auto;">F</div>
											</label>
											<label class="btn btn-color" tooltip="Male" flow="up">
												<input value="M" type="radio" name="gender_options" autocomplete="off"><div style="width:8px; height:8px; margin:auto auto;">M</div>
											</label>
											<label class="btn btn-color" tooltip="Not applicable" flow="up">
												<input value="N" type="radio" name="gender_options" autocomplete="off"><div style="width:8px; height:8px; margin:auto auto;">N</div>
											</label>
											<label class="btn btn-color" tooltip="Other" flow="up">
												<input value="O" type="radio" name="gender_options" autocomplete="off"><div style="width:8px; height:8px; margin:auto auto;">O</div>
											</label>
											<label class="btn btn-color" tooltip="Unknown" flow="up">
												<input value="U" type="radio" name="gender_options" autocomplete="off" value=""><div style="width:8px; height:8px; margin:auto auto;">U</div>
											</label>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-calendar-outline" />
											</div>
											<input type="text" placeholder="yyyy-mm-dd" class="datepicker-range-dob" style="padding:0px 0px 0px 8px;"/>
											<div id="age-manual" class="icon btn-color Divider-Left"  style="border-radius: 0 4px 4px 0; min-width:32px; max-width:32px;">
												<i class="mdi mdi-calendar-search" />
											</div>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-cellphone-basic" />
											</div>
											<input id="phone_number" type="text" placeholder="Phone Number"/>
										</div>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex FlexGrow-2" style="min-width:260px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal; line-height:16px;">Address</h4>
									</div>
									<div class="FlexDisplay Flex FlexGrow" style="min-width:130px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 4px; font-size: 12px; font-weight:normal; line-height:16px;">Email</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">
									<div class="FlexDisplay Flex FlexGrow-2" style="min-width:260px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-earth" />
											</div>
											<input class="Address" type="text" placeholder="Address"/>
										</div>
									</div>
									<div class="FlexDisplay Flex FlexGrow" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-at" />
											</div>
											<input id="email_address" type="text" placeholder="Address"/>
										</div>
									</div>
								</div>
							</div>
							<div class="FlexDisplay FlexColumn Flex FlexBoxSizing-BorderBox Divider-Top" style="width:100%; margin:8px 0px 8px 0px;">
								<div class="FlexDisplay FlexRow Divider-Bottom" style="background:#182538;min-height:32px;max-height:32px;margin:0px 0px 2px 0px;" >
									<div style="font-size:14px; margin:0px 0px 0px 12px;">
										<i class="mdi mdi-flask" style="height:100%; color:white;" />
									</div>
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:8px 0px 8px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Specimen</h4>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Condition</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:160px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Priority</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-contrast" />
											</div>
											<select class="SpecimenCondition">
												<option value="Choose..." selected="">Choose...</option>
												<option value="Good">Good</option>
												<option value="Suitable">Suitable</option>
												<option value="Unsuitable">Unsuitable</option>
												<option value="Unacceptable">Unacceptable</option>
											</select>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:160px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-clock-fast" />
											</div>
											<select class="SpecimenPriority">
												<option value="Choose..." selected="">Choose...</option>
												<option value="Routine">Routine</option>
												<option value="Stat">Stat</option>
												<option value="Urgent">Urgent</option>
												<option value="Xferred">Xferred</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal; line-height:16px;">Collected Date</h4>
									</div>
									<div class="FlexDisplay Flex">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px; white-space: nowrap;">Collected By</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px;">
											<div class="icon">
												<i class="mdi mdi-calendar-outline" />
											</div>
											<input type="text" placeholder="yyyy-mm-dd hh:mm" class="datepicker-range-specimen-collected" style="padding:0px 0px 0px 8px;"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-doctor" />
											</div>
											<input class="SpecimenCollectedBy" type="text" placeholder="Specimen Collected By"/>
										</div>
									</div>
								</div>
								
							</div>
							<div class="FlexDisplay FlexColumn Flex FlexBoxSizing-BorderBox Divider-Top" style="width:100%; margin:8px 0px 8px 0px;">
								<div class="FlexDisplay FlexRow Divider-Bottom" style="background:#182538;min-height:32px;max-height:32px;margin:0px 0px 2px 0px;" >
									<div style="font-size:14px; margin:0px 0px 0px 12px;">
										<i class="mdi mdi-card-account-details-star-outline" style="height:100%; color:white;" />
									</div>
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:8px 0px 8px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Insurance</h4>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Card Number</h4>
									</div>
									<div class="FlexDisplay Flex" style="min-width:160px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px;">Authorization Number</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-smart-card-outline" />
											</div>
											<input class="InsuranceCardNumber" type="text" placeholder="Card Number"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:160px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-smart-card-outline" />
											</div>
											<input class="InsuranceAuthorizationNumber" type="text" placeholder="Authorization Number"/>
										</div>
									</div>
								</div>
								
								<div class="FlexDisplay FlexRow" style="min-height:16px;max-height:16px;margin:8px 0px 0px 0px;" >
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal; line-height:16px;">Preliminanary Diagnosis (Code)</h4>
									</div>
									<div class="FlexDisplay Flex">
										<h4 class="feature-title mt-0" style="margin:0px 0px 0px 10px; font-size: 12px; font-weight:normal; line-height:16px; white-space: nowrap;">Final Diagnosis (Code)</h4>
									</div>
								</div>
								<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; padding:0px 8px;">						
									<div class="FlexDisplay Flex" style="min-width:150px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px;">
											<div class="icon">
												<i class="mdi mdi-microscope" />
											</div>
											<input class="InsurancePreliminanaryDiagnosisCode" type="text" placeholder="Preliminanary Diagnosis (Code)"/>
										</div>
									</div>
									<div class="FlexDisplay Flex" style="min-width:130px;">
										<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 4px;">
											<div class="icon">
												<i class="mdi mdi-microscope" />
											</div>
											<input class="InsuranceFinalDiagnosisCode" type="text" placeholder="Final Diagnosis (Code)"/>
										</div>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
			</div>
			-->
			
			
			<div class="FlexDisplay Flex FlexGrow" style="margin:16px 16px 16px 16px; min-height:80px; max-height:80px;">
				<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; height:calc(100% - 0px);  width:100%;">
				
					<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox" style="width:100%;  height:calc(100% - 0px); z-index:2;">
						<div class="FlexDisplay FlexColumn"  style="width:100%; height:calc(100% - 32px);">
							<div class="FlexDisplay FlexRow Overflow-Hidden " style="width:100%; padding:0px;">
								
								<div class="FlexDisplay FlexRow Flex"  style="min-width:130px; margin:8px 8px 0px 8px;">						
									<div class="FlexDisplay Flex">
										<div class="FlexDisplay Flex FlexRow form-control" style="padding:0px 0px 0px 8px;">
											<input id="facility_search_text" type="text" placeholder="Search"/>
											<div id="facility_search_button" class="icon btn-color Divider-Left"  style="border-radius: 0 4px 4px 0;">
												<i class="mdi mdi-account-search" />
											</div>
											
										</div>
									</div>
								</div>
									
							</div>	
						</div>
						<div id="pagingBox" class="FlexDisplay Divider-Top FlexRow" style="width:100%; min-height:32px; max-height:32px;"></div>
					</div>
					
				</div>
			</div>
			
			
			<div class="FlexDisplay Flex FlexGrow" style="height:calc(100% - 96px);">
				<div class="scroll scroll2" style="position:relative; height:calc(100% - 0px);  width:100%; padding:0px 8px 0px 8px;">
			
					<div class="FlexDisplay FlexColumn Overflow-Hidden info-card">
						<div class="FlexDisplay FlexRow pic" style="height:calc(100% - 0px);">						
							
							<!--<div class="cd-stretchy-nav edit-content">
								<span class="cd-nav-trigger" style="cursor:pointer;">
									<span aria-hidden="true"></span>
								</span>
								<ul>
									<li><span class="cd-nav-button"><i class="mdi mdi-account-edit" /></span></li>
									<li><span class="cd-nav-button"><i class="mdi mdi-flask-empty-plus"/></span></li>
									<li><span class="cd-nav-button"><i class="mdi mdi-file-chart"/></span></li>
								</ul>
								<span aria-hidden="true" class="stretchy-nav-bg"></span>
							</div>-->
							
							<div class="FlexDisplay FlexColumn credentials">
								<div style="display:block; font-size:13px; height:18px; line-height:1.2; margin:4px 8px 0px 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									Fredrick L. Mwasekaga
								</div>
							</div>
						</div>
						<div class="FlexDisplay FlexRow info">
							<div class="FlexDisplay icon" tooltip='Edit' flow='up-right' style="margin-left:8px;">
								<i class="mdi mdi-account-edit" />
							</div>
							<div class="FlexDisplay Flex"  style="height:100%;">
							</div>
							<div class="FlexDisplay icon" tooltip='Visits: 100 ' flow='up-left'>
								<i class="mdi mdi-hospital-building" />
							</div>
							<div class="FlexDisplay icon" tooltip='Gender: Male' flow='up-left'>
								<i class="mdi mdi-gender-male-female" />
							</div>
							<div class="FlexDisplay icon" tooltip='DOB: 1985-12-01' flow='up-left'>
								<i class="mdi mdi-calendar" />
							</div>
						</div>	
					</div>
			
				</div>
			</div>
			
			
			
			
			
			
		</div>
	</div>
</div>
<script>
$("#backBtn").unbind( "click" );
$('#backBtn').click(function(){
	var page = System.IO.Path.Combine("web","bhis","views",backNavigation);
	loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
});

function preparePagerEx(id, column, table, callback){
	$(id).html('');
	
	var pagerList = [];
	/*var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
	if(con != null){
		con.open();

		var query  = "SELECT distinct ";
		query += "(case when (substr(`"+column+"` ,1,1) GLOB '*[^0-9]*') = 0 then '0_9' ";
		query += "	  else upper(substr(`"+column+"` ,1,1)) ";
		query += "end) as `Tag`  ";
		query += "FROM `"+table+"`  ";
		query += "ORDER BY `"+column+"` ";
		
		var comm = con.createCommand(query);
		if(comm != null){
			var reader = comm.executeReader();
			if(reader != null){
				while(reader.read()){
					var row = JSON.parse(reader.getValues());	
					if(row != undefined && row != null)pagerList.push(row.Tag);
				}
				reader.close();
				con.close();				
			}
			else con.close();
		}
		else con.close();
	}*/

	var pages  = '<div id="Page_0_9" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow Button NonStandard Pager '+(pagerList.includes('0_9') ? '' : 'Disabled')+'" style="height:32px;">';
		pages += '	<span class="text" style="text-align:center; display:inline-block; width:100%; font-size:11px; margin:2px 0px 0px 0px;">0-9</span>';
		pages += '</div>';
	$(id).html(pages);
	
	//if(pagerList.includes('0_9')){
	//	createPagerClickEvent('0_9', id, callback);
	//}

	for(x=65;x<65+26;x++){
		var c = String.fromCharCode(x);
		var pages = '<div id="Page_'+c+'" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow Button NonStandard Pager Divider-Left '+(pagerList.includes(c) ? '' : 'Disabled')+'" style="height:32px;">';
			pages += '	<span class="text" style="text-align:center; display:inline-block; width:100%; font-size:11px; margin:2px 0px 0px 0px;">'+c+'</span>';
			pages += '</div>';
		$(id).append(pages);
		
		//if(pagerList.includes(c)){
		//	createPagerClickEvent(c, id, callback);
		//}
	}
		
	return pagerList;
}

var pagerList = preparePagerEx("#pagingBox", "FacilityName", "facilities", null);


if( $('.cd-stretchy-nav').length > 0 ) {
	var stretchyNavs = $('.cd-stretchy-nav');
	
	stretchyNavs.each(function(){
		var stretchyNav = $(this),
			stretchyNavTrigger = stretchyNav.find('.cd-nav-trigger');
		
		stretchyNavTrigger.on('click', function(event){
			event.preventDefault();
			stretchyNav.toggleClass('nav-is-visible');
		});
	});

	$(document).on('click', function(event){
		( !$(event.target).is('.cd-nav-trigger') && !$(event.target).is('.cd-nav-trigger span') ) && stretchyNavs.removeClass('nav-is-visible');
	});
}


hideNavigationDropMenu();

closeLoadingPage();
</script>