<div class="pp-tableCell" style="height:100%">
	<div class="FlexDisplay FlexColumn container"  style="margin:0px; padding:0px; height:100%;">
		<div class="FlexDisplay FlexRow" style="background:#535FD7; height:48px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.3); z-index: 100;" >
			<div id="logoBtn" class="nav-button"  >
				<i class="mdi mdi-apps"></i>
			</div>
			<div class="FlexDisplay">
				<span class="BHIS-Title" style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; font-weight:normal; font-size:12px; color:#ffffff; margin:auto 8px;">Basic Laboratory Information System</span>
			</div>
			<div class="FlexDisplay FlexGrow" style="height:100%;"></div>
			<div class="notification-bell dropdown">
				<div class="nav-button transparent dropdown">
					<i class="mdi mdi-bell"></i>
				</div>
				<div class="submenu">
					<ul class="root">
					</ul>
				</div>
			</div>
			<div class="avatar dropdown"  >
				<div class="nav-button transparent dropdown" >
					<i class="mdi mdi-account-circle"></i>
				</div>
				<div class="submenu">
					<ul class="root">
						<li>
							<div class="nav-button transparent" style="width:100%; height:32px;"  >
								<div class="text" style="font-size: 10px; font-weight:normal;">Settings</div>
							</div>
						</li>
						<li>
							<div class="nav-button transparent" style="width:100%; height:32px;"  >
								<div class="text" style="font-size: 10px; font-weight:normal;">Sign Out</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="FlexDisplay Flex inner-section"  style="width:100%; height:1px;">
			<div class="FlexDisplay FlexColumn side-bar" style="min-width:48px; max-width:48px; height:100%; position:relative; z-index:994160;">
				<div class="FlexDisplay Button Options Dark Overflow-Show Animation-3ms" tooltip="Dashboard" flow="right">
					<div class="FlexDisplay FlexRow">
						<div class="FlexDisplay" style="margin:0px 0px 0px 14px;">
							<div class="mdi mdi-tablet-dashboard"></div>
						</div>
					</div>
				</div>
				<div class="FlexDisplay Button Options Dark Overflow-Show Animation-3ms" tooltip="Data Entry" flow="right">
					<div class="FlexDisplay FlexRow">
						<div class="FlexDisplay" style="margin:0px 0px 0px 14px;">
							<div class="mdi mdi-book-plus"></div>
						</div>
					</div>
				</div>
				<div class="FlexDisplay Button Options Dark Overflow-Show Animation-3ms" tooltip="Reports" flow="right">
					<div class="FlexDisplay FlexRow">
						<div class="FlexDisplay" style="margin:0px 0px 0px 14px;">
							<div class="mdi mdi-file-chart"></div>
						</div>
					</div>
				</div>
				<div class="FlexDisplay Button Options Dark Overflow-Show Animation-3ms" tooltip="Configurations" flow="right">
					<div class="FlexDisplay FlexRow">
						<div class="FlexDisplay" style="margin:0px 0px 0px 14px;">
							<div class="mdi mdi-clipboard-list-outline"></div>
						</div>
					</div>
				</div>
				<div class="FlexDisplay Button Options Dark Overflow-Show Animation-3ms" tooltip="Interfacing" flow="right">
					<div class="FlexDisplay FlexRow">
						<div class="FlexDisplay" style="margin:0px 0px 0px 14px;">
							<div class="mdi mdi-lan"></div>
						</div>
					</div>
				</div>
				
				<div class="Slider Animation-3ms" style="width:4px; height:47px; top:0px; right:0px; top:0px;"></div>
			</div>
			<div class="FlexDisplay FlexBoxSizing-BorderBox FadeIn" style="width:100%; height:100%; overflow: hidden; position:relative;">
				
				<div class="animated-page FlexBoxSizing-BorderBox active" data-path="section-0" style="padding:16px; height:100%;">
					<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative;  width:100%;">
				
						<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
							<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">DASHBOARD</h4>
						</div>
						<div class="FlexDisplay FlexBoxSizing-BorderBox" style="height:144px;">
							<div class="FlexDisplay Flex FlexRow" style="height:auto;">
								<div class="FlexDisplay Flex FlexColumn tiny-dash-card down">
									<div class="FlexDisplay FlexRow tiny-dash-title">
										<span class="feature-title mt-0" style="text-align:center; color:#818ea3; width:100%; font-size: 12px; font-weight:normal;">REQUESTS</span>
									</div>
									<div class="FlexDisplay FlexRow" style=" min-height:32px; max-height:32px;">
										<span class="feature-title mt-0" style="text-align:center; color:#5c769e; width:100%; font-size: 24px; font-weight:normal;">2,390</span>
									</div>
									<div class="FlexDisplay Flex FlexRow tiny-dash-direction">
										<div class="FlexDisplay FlexRow" style="margin:auto auto;">
											<i class="mdi mdi-menu-up tiny-dash-icon tiny-dash-up"></i>
											<i class="mdi mdi-menu-down tiny-dash-icon tiny-dash-down"></i>
											<span class="feature-title mt-0" style="text-align:center; font-size: 12px; font-weight:bold;">4.7%</span>
										</div>
									</div>									
									<canvas height="120" class="overview-stats-small-1 tiny-dash-card-canvas"></canvas>
								</div>
								<div class="FlexDisplay Flex FlexColumn tiny-dash-card up">
									<div class="FlexDisplay FlexRow tiny-dash-title">
										<span class="feature-title mt-0" style="text-align:center; color:#818ea3; width:100%; font-size: 12px; font-weight:normal;">RESULTS</span>
									</div>
									<div class="FlexDisplay FlexRow" style=" min-height:32px; max-height:32px;">
										<span class="feature-title mt-0" style="text-align:center; color:#5c769e; width:100%; font-size: 24px; font-weight:normal;">182</span>
									</div>
									<div class="FlexDisplay Flex FlexRow tiny-dash-direction">
										<div class="FlexDisplay FlexRow" style="margin:auto auto;">
											<i class="mdi mdi-menu-up tiny-dash-icon tiny-dash-up"></i>
											<i class="mdi mdi-menu-down tiny-dash-icon tiny-dash-down"></i>
											<span class="feature-title mt-0" style="text-align:center; font-size: 12px; font-weight:bold;">12.4%</span>
										</div>
									</div>									
									<canvas height="120" class="overview-stats-small-2 tiny-dash-card-canvas"></canvas>
								</div>
								<div class="FlexDisplay Flex FlexColumn tiny-dash-card down">
									<div class="FlexDisplay FlexRow tiny-dash-title">
										<span class="feature-title mt-0" style="text-align:center; color:#818ea3; width:100%; font-size: 12px; font-weight:normal;">AUTHORIZED</span>
									</div>
									<div class="FlexDisplay FlexRow" style=" min-height:32px; max-height:32px;">
										<span class="feature-title mt-0" style="text-align:center; color:#5c769e; width:100%; font-size: 24px; font-weight:normal;">8,147</span>
									</div>
									<div class="FlexDisplay Flex FlexRow tiny-dash-direction">
										<div class="FlexDisplay FlexRow" style="margin:auto auto;">
											<i class="mdi mdi-menu-up tiny-dash-icon tiny-dash-up"></i>
											<i class="mdi mdi-menu-down tiny-dash-icon tiny-dash-down"></i>
											<span class="feature-title mt-0" style="text-align:center; font-size: 12px; font-weight:bold;">3.8%</span>
										</div>
									</div>									
									<canvas height="120" class="overview-stats-small-3 tiny-dash-card-canvas"></canvas>
								</div>
								<div class="FlexDisplay Flex FlexColumn tiny-dash-card up">
									<div class="FlexDisplay FlexRow tiny-dash-title">
										<span class="feature-title mt-0" style="text-align:center; color:#818ea3; width:100%; font-size: 12px; font-weight:normal;">REJECTED</span>
									</div>
									<div class="FlexDisplay FlexRow" style=" min-height:32px; max-height:32px;">
										<span class="feature-title mt-0" style="text-align:center; color:#5c769e; width:100%; font-size: 24px; font-weight:normal;">2,413</span>
									</div>
									<div class="FlexDisplay Flex FlexRow tiny-dash-direction">
										<div class="FlexDisplay FlexRow" style="margin:auto auto;">
											<i class="mdi mdi-menu-up tiny-dash-icon tiny-dash-up"></i>
											<i class="mdi mdi-menu-down tiny-dash-icon tiny-dash-down"></i>
											<span class="feature-title mt-0" style="text-align:center; font-size: 12px; font-weight:bold;">2.4%</span>
										</div>
									</div>									
									<canvas height="120" class="overview-stats-small-4 tiny-dash-card-canvas"></canvas>
								</div>
								<!--<div class="FlexDisplay Flex FlexColumn tiny-dash-card down">
									<div class="FlexDisplay FlexRow tiny-dash-title">
										<h4 class="feature-title mt-0" style="text-align:center; width:100%; font-size: 12px; font-weight:normal;">Requests</h4>
									</div>
									<div class="FlexDisplay FlexRow" style=" min-height:32px; max-height:32px;">
										<h4 class="feature-title mt-0" style="text-align:center; width:100%; font-size: 24px; font-weight:normal;">2,010</h4>
									</div>
									<div class="FlexDisplay Flex FlexRow tiny-dash-direction">
										<div class="FlexDisplay FlexRow" style="margin:auto auto;">
											<i class="mdi mdi-menu-up tiny-dash-icon tiny-dash-up"></i>
											<i class="mdi mdi-menu-down tiny-dash-icon tiny-dash-down"></i>
											<span class="feature-title mt-0" style="text-align:center; font-size: 12px; font-weight:bold;">4.7%</span>
										</div>
									</div>									
									<canvas height="120" class="overview-stats-small-5 tiny-dash-card-canvas"></canvas>
								</div>-->
							</div>
							<!--<div class="FlexDisplay FlexColumn" style="margin:auto auto;">
								<div class="FlexDisplay" style="margin:0px auto 32px auto;">
									<i class="mdi mdi-alert-outline" style="text-align:center; font-size:96px;"></i>
								</div>
								<div class="FlexDisplay">Dashboard : Under Development</div>
							</div>-->
						</div>
						
					</div>
				</div>

				<div class="animated-page FlexBoxSizing-BorderBox" data-path="section-1" style="padding:16px; height:100%;">
					<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; width:100%; height:100%;">
						<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
							<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">DATA ENTRY</h4>
						</div>
						<div class="FlexDisplay FlexBoxSizing-BorderBox scroll scroll2 demo-1" style="overflow-y:auto; height:calc(100% - 32px); ">
						
							<div class="grid clearfix FlexDisplay FlexWrap">
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/1.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Reception</span>
											<p>Soko radicchio bunya nuts gram dulse.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/3.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Pharmacy</span>
											<p>Two greens tigernut soybean radish.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/5.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Consultation</span>
											<p>Beetroot water spinach okra water.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/7.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Laboratory</span>
											<p>Water spinach arugula pea tatsoi.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="animated-page FlexBoxSizing-BorderBox" data-path="section-2" style="padding:16px; height:100%;">
					<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; width:100%; height:100%;">
						<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
							<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">REPORTS</h4>
						</div>
						<div class="FlexDisplay FlexBoxSizing-BorderBox scroll scroll2 demo-1" style="overflow-y:auto; height:calc(100% - 32px); ">
							<div class="grid clearfix FlexDisplay FlexWrap">
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Worksheets</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Daily Reports</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>EQA Reports</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="animated-page FlexBoxSizing-BorderBox" data-path="section-3" style="padding:16px; height:100%;">
					<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; width:100%; height:100%;">
						<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
							<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">CONFIGURATIONS</h4>
						</div>
						<div class="FlexDisplay FlexBoxSizing-BorderBox scroll scroll2 demo-1" style="overflow-y:auto; height:calc(100% - 32px); ">
							<div class="grid clearfix FlexDisplay FlexWrap">
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/2.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Specimen Types</span>
											<p>Pea horseradish azuki bean lettuce.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div><div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/2.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Tests</span>
											<p>Pea horseradish azuki bean lettuce.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/2.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Facilities</span>
											<p>Pea horseradish azuki bean lettuce.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/4.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Drugs</span>
											<p>A grape silver beet watercress potato.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/6.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Stock Keeping</span>
											<p>Chickweed okra pea winter purslane.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Billing</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Languages</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<!--<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Patients</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>-->
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Users</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="animated-page FlexBoxSizing-BorderBox" data-path="section-4" style="padding:16px; height:100%;">
					<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; width:100%; height:100%;">
						<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
							<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">INTERFACING</h4>
						</div>
						<div class="FlexDisplay FlexBoxSizing-BorderBox scroll scroll2 demo-1" style="overflow-y:auto; height:calc(100% - 32px); ">
							<div class="grid clearfix FlexDisplay FlexWrap">
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Systems</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
								<div class="info-button" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
									<figure>
										<img src="images/8.png" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
										<figcaption>
											<span>Analysers</span>
											<p>Salsify taro catsear garlic gram.</p>
											<button>View</button>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<script>
var speed = 250,
	easing = mina.easeinout,
	loadingPageTimer = null;
	
/**
 * Chart.js - Line Chart with Vertical Line
 */
Chart.defaults.LineWithLine = Chart.defaults.line;
Chart.controllers.LineWithLine = Chart.controllers.line.extend({
  draw: function draw(ease) {
    Chart.controllers.line.prototype.draw.call(this, ease);
    if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
      var activePoint = this.chart.tooltip._active[0],
          ctx = this.chart.ctx,
          x = activePoint.tooltipPosition().x,
          topY = this.chart.scales['y-axis-0'].top,
          bottomY = this.chart.scales['y-axis-0'].bottom;

      // Draw the line
      ctx.save();
      ctx.beginPath();
      ctx.moveTo(x, topY);
      ctx.lineTo(x, bottomY);
      ctx.lineWidth = 0.5;
      ctx.strokeStyle = '#ddd';
      ctx.stroke();
      ctx.restore();
    }
  }
});


// Datasets
var boSmallStatsDatasets = [
  {
	//backgroundColor: 'rgba(0, 184, 216, 0.1)',
	//borderColor: 'rgb(0, 184, 216)',
	backgroundColor: 'rgba(255,65,105,0.1)',
	borderColor: 'rgb(255,65,105)',
	data: [1, 2, 1, 3, 5, 4, 7],
  },
  {
	backgroundColor: 'rgba(23,198,113,0.1)',
	borderColor: 'rgb(23,198,113)',
	data: [1, 2, 3, 3, 3, 4, 4]
  },
  {
	//backgroundColor: 'rgba(255,180,0,0.1)',
	//borderColor: 'rgb(255,180,0)',
	backgroundColor: 'rgba(255,65,105,0.1)',
	borderColor: 'rgb(255,65,105)',
	data: [2, 3, 3, 3, 4, 3, 3]
  },
  {
	backgroundColor: 'rgba(23,198,113,0.1)',
	borderColor: 'rgb(23,198,113)',
	data: [1, 7, 1, 3, 1, 4, 8]
  }/*,
  {
	//backgroundColor: 'rgb(0,123,255,0.1)',
	//borderColor: 'rgb(0,123,255)',
	backgroundColor: 'rgba(255,65,105,0.1)',
	borderColor: 'rgb(255,65,105)',
	data: [3, 2, 3, 2, 4, 5, 4]
  }*/
];

// Options
function boSmallStatsOptions(max) {
  return {
	maintainAspectRatio: true,
	responsive: true,
	// Uncomment the following line in order to disable the animations.
	// animation: false,
	legend: {
	  display: false
	},
	tooltips: {
	  enabled: false,
	  custom: false
	},
	elements: {
	  point: {
		radius: 0
	  },
	  line: {
		tension: 0.3
	  }
	},
	scales: {
	  xAxes: [{
		gridLines: false,
		scaleLabel: false,
		ticks: {
		  display: false
		}
	  }],
	  yAxes: [{
		gridLines: false,
		scaleLabel: false,
		ticks: {
		  display: false,
		  // Avoid getting the graph line cut of at the top of the canvas.
		  // Chart.js bug link: https://github.com/chartjs/Chart.js/issues/4790
		  suggestedMax: max
		}
	  }],
	},
  };
}

// Generate the small charts
boSmallStatsDatasets.map(function (el, index) {
  var chartOptions = boSmallStatsOptions(Math.max.apply(Math, el.data) + 1);
  var ctx = document.getElementsByClassName('overview-stats-small-' + (index + 1));
  new Chart(ctx, {
	type: 'line',
	data: {
	  labels: ["Label 1", "Label 2", "Label 3", "Label 4", "Label 5", "Label 6", "Label 7"],
	  datasets: [{
		label: 'Today',
		fill: 'start',
		data: el.data,
		backgroundColor: el.backgroundColor,
		borderColor: el.borderColor,
		borderWidth: 1.5,
	  }]
	},
	options: chartOptions
  });
});










[].slice.call ( document.querySelectorAll( 'div.grid > div.info-button' ) ).forEach( function( el ) {
	
	var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
		pathConfig = {
			from : path.attr( 'd' ),
			to : el.getAttribute( 'data-path-hover' )
		};

	el.addEventListener( 'mouseenter', function() {
		path.animate( { 'path' : pathConfig.to }, speed, easing );
	} );

	el.addEventListener( 'mouseleave', function() {
		path.animate( { 'path' : pathConfig.from }, speed, easing );
	} );
} );

$(".notification-bell").click(function(){
	$(".avatar .submenu").hide();
	$(".avatar").attr('id', '');
	
	/*$(".avatar .submenu").hide();
	$(".avatar").attr('id', '');
	
	var X=$(this).attr('id');
	if(X==1) {
		$(".notification-bell .submenu").hide();
		$(this).attr('id', '0'); 
	}
	else {
		$(".notification-bell .submenu").show();
		$(this).attr('id', '1');
	}*/
});
$(".avatar").click(function(){
	$(".notification-bell .submenu").hide();
	$(".notification-bell").attr('id', '');
	
	var X=$(this).attr('id');
	if(X==1) {
		$(".avatar .submenu").hide();
		$(this).attr('id', '0'); 
	}
	else {
		$(".avatar .submenu").show();
		$(this).attr('id', '1');
	}
});
$(".submenu").mouseup(function(){
	return false;
});
$(".notification-bell").mouseup(function(){
	return false;
});
$(".avatar").mouseup(function(){
	return false;
});

function hideNavigationDropMenu(){
	$(".avatar .submenu").hide();
	$(".avatar").attr('id', '');
	
	$(".notification-bell .submenu").hide();
	$(".notification-bell").attr('id', '');
}

$(document).mouseup(function(){
	hideNavigationDropMenu();
});

$('.avatar .submenu .root .nav-button').each(function (index, value) {
	$(this).click(function(){
		var text = $(this).text().trim();
		$(".avatar .submenu").hide();
		$(".avatar").attr('id', '');
		
		if(text == "Settings"){
			backNavigation = "home.htm";
			var page = System.IO.Path.Combine("web","bhis","views", "settings.htm");
			loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
		}
		else if(text == "Sign Out"){
			var page = System.IO.Path.Combine("web","bhis","views", "landing.htm");
			loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
		}
		
	});
});

$('#logoBtn').click(function(){
	//$.fn.pagepiling.moveTo(backNavigation);
});

$('.side-bar .Button').each(function (index, value) {
	$(this).click(function(){
		var pos = 48*(index);
		clearTimeout(loadingPageTimer);	
		
		$('.side-bar .Slider').css({"top":pos+"px"}).delay(300).queue(function(){
			$( this ).dequeue();

			var navigateActive = $('.animated-page.active');
			navigateActive.one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(e) {
				navigateActive.removeClass('transition-busy');
			});
			
			if(!navigateActive.hasClass("transition-busy")){
				navigateActive.removeClass('transition-enter');
				navigateActive.removeClass('transition-grow');
				navigateActive.removeClass('transition-shrink');
				navigateActive.removeClass('transition-enter-right');
				navigateActive.removeClass('transition-enter-left');
				navigateActive.addClass('transition-busy');
				navigateActive.addClass('transition-shrink');
			}
			
			
			loadingPageTimer = setTimeout(function(){
				clearTimeout(loadingPageTimer);	
				
				var navigateFrom = $('.animated-page.active');
				var indexFrom = navigateFrom.data("path").replace("section-","");
				
				if(index != indexFrom){					
					var navigateTo = $("#mainPage").find(`[data-path='section-${index}']`);
												
					navigateFrom.removeClass('transition-busy');
					navigateFrom.removeClass('transition-enter');
					navigateFrom.removeClass('transition-grow');
					navigateFrom.removeClass('transition-shrink');
					navigateFrom.removeClass('transition-enter-right');
					navigateFrom.removeClass('transition-enter-left');
					if(indexFrom < index) navigateFrom.addClass('transition-leave-left');
					else navigateFrom.addClass('transition-leave-right');
					  
					navigateTo.removeClass('transition-busy');
					navigateTo.removeClass('transition-leave');
					navigateTo.removeClass('transition-grow');
					navigateTo.removeClass('transition-shrink');
					navigateTo.removeClass('transition-leave-right');
					navigateTo.removeClass('transition-leave-left');
					if(indexFrom < index) navigateTo.addClass('transition-enter-right');
					else navigateTo.addClass('transition-enter-left');
					
					
					navigateFrom.removeClass("active");
					navigateTo.addClass('active');
				}
				else {
					navigateFrom.one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(e) {
						navigateFrom.removeClass('transition-shrink');
						navigateFrom.removeClass('transition-grow');
					});
					
					navigateFrom.addClass('transition-grow');					
				}
			}, 500);
			
		});
		
	});
});

$('#mainPage .info-button button').click(function(){
	backNavigation = "home.htm";
	var animated_page = $(this).parents('.animated-page');
	var section = animated_page.attr("data-path");
	
	var sub_path = System.IO.Path.Combine("web","bhis","views",section.replace("-","_").toLowerCase());
	var sub_page = $(this).parents("figcaption").find("span").text().replace(" ","_").toLowerCase();
	var sub_file = System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),sub_path,sub_page)+".htm";
	loadSubPage(sub_file, true);
});

hideNavigationDropMenu();

closeLoadingPage();
</script>