<div class="pp-tableCell" style="height:100%">
	<div class="container"  >
		<div class="hero-inner" >
			<div class="hero-copy">
				<h1 class="hero-title mt-0">Basic Health Information System</h1>
				<p class="hero-paragraph">An open-source system to track patients, specimens and laboratory results</p>
				<div class="hero-cta">
					<div id="signinButton" class="button button-primary">Sign in</div>
					<div id="settingsButton" class="button button-primary">Settings</div>
				</div>
			</div>
			<div class="hero-media">
				<div class="header-illustration">
					<img class="header-illustration-image asset-light" src="images/header-illustration-light.svg" alt="Header illustration">
					<img class="header-illustration-image asset-dark" src="images/header-illustration-dark.svg" alt="Header illustration">
				</div>
				<div class="hero-media-illustration">
					<img class="hero-media-illustration-image asset-light" src="images/hero-media-illustration-light.svg" alt="Hero media illustration">
					<img class="hero-media-illustration-image asset-dark" src="images/hero-media-illustration-dark.svg" alt="Hero media illustration">
				</div>
				<div class="hero-media-container">
					<img class="hero-media-image asset-light" src="images/hero-media-light.svg" alt="Hero media">
					<img class="hero-media-image asset-dark" src="images/hero-media-dark.svg" alt="Hero media">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('#signinButton').click(function(){
	var page = System.IO.Path.Combine("web","bhis","views","home.htm");
	loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
});

$('#settingsButton').click(function(){
	backNavigation = "landing.htm";
	var page = System.IO.Path.Combine("web","bhis","views","settings.htm");
	loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
});
closeLoadingPage();
</script>