<div class="FlexDisplay FlexColumn container"  style="margin:0px; padding:0px; height:100%;">
	<div class="FlexDisplay" style="background:#535FD7; height:48px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);" >
		<div id="backBtn"  class="nav-button" >
			<i class="mdi mdi-apps"></i>
		</div>
		<div class="FlexDisplay">
			<span style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; font-weight:bold; font-size:12px; color:#ffffff; margin:auto 8px;">Basic Laboratory Information System v3.5</span>
		</div>
		<div class="FlexDisplay FlexGrow" style="height:100%;"></div>
		<div class="add-equipment dropdown" tooltip="add equipment" flow="left">
			<div class="nav-button transparent dropdown">
				<i class="mdi mdi-plus-network"></i>
			</div>
			<div class="submenu">
				<ul class="root"/>
			</div>
		</div>
	</div>
	<div class="FlexDisplay Flex ContentPage  inner-section FadeIn"  style="width:100%; height:1px;">
		<div class="FlexDisplay FlexBoxSizing-BorderBox" style="width:100%; height:100%; overflow: hidden; position:relative;">
			<div style="width:100%; height:100%; margin:16px 16px 16px 16px;">
				<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; height:calc(100% - 32px);  width:100%;">
					<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
						<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">ANALYSERS</h4>
					</div>
					<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox" style="width:100%;  height:calc(100% - 32px); z-index:2;">
						<div class="FlexDisplay FlexColumn"  style="width:100%; min-height: 24px; max-height: 24px;">
							<div class="FlexDisplay FlexRow Divider-Bottom Overflow-Hidden " style="width:100%; padding:0px;">
								<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; min-height: 32px; max-height: 32px; padding:7px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;"></div>
								<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; padding:7px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">VERSION</span></div>
								<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">LAB SECTION</span></div>
								<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">COMMUNICATION</span></div>
								<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">FEED SOURCE</span></div>
								<div class="FlexDisplay" style="width:100%; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">NAME</span></div>			
							</div>	
						</div>
						<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox scroll scroll2 AnalysersList" style="overflow-y:auto; height:calc(100% - 56px);">
						</div>
						<div id="pagingBox" class="FlexDisplay Divider-Top FlexRow" style="width:100%; min-height:32px; max-height:32px;"></div>
					</div>			
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#backBtn').click(function(){
		var page = System.IO.Path.Combine("web","blis","views",backNavigation);
		loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
	});
	
	function populateData(configs, id, options){
		$(".AnalysersList").html('');
		
		//var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
		//if(System.IO.File.Exists(config_file)){
		//	var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
			
			var _analysers = configs.filter(function(analyser){
				var _id = analyser.Name[0];
				if(_id >= 0 && _id <= 9)_id = "0_9";
				
				return _id.toUpperCase() == id.toUpperCase();
			});
			
			for(var x=0; x<_analysers.length; x++){
				var analyser = _analysers[x];
				
				var statusType = "mdi-map-marker";
				var statusColor = "#01579B";
				
				//if(item.Latitude == ""){
				//	statusType = "mdi-map-marker-off";
				//	statusColor = "red";
				//}
				
				var operating = "mdi-help-circle";
				var operatingColor = "#4A148C";
				
				/*if(item.OperatingStatus == "Closed"){
					operating = "mdi-cancel";
					operatingColor = "red";
				}
				else if(item.OperatingStatus == "Closed (Temporary)"){
					operating = "mdi-alert-circle";
					operatingColor = "#FFD600";
				}
				else if(item.OperatingStatus == "Operating" || item.OperatingStatus == "Opert"){
					operating = "mdi-check-circle";
					operatingColor = "#669900";
				}
				else if(item.OperatingStatus == "Pending Operation - Under Construction" || item.OperatingStatus == "Pending Operation - Construction Complete"){
					operating = "mdi-clock-alert";
					operatingColor = "#C51162";
				}*/
				
				var mappedType = "mdi-link-off";
				//if(item.IsMapped == "Yes")mappedType = "mdi-link";
				
				var Version = analyser.Version;
				var Lab_Section = analyser.LabSection;			
				var Communication_Type  = analyser.CommunicationType;
				var Feed_Source  = analyser.FeedSource;
				var Equipment_Name  = analyser.Name;
				var Config_File  = analyser.ConfigFile;
				
				var analyzer = '<div data-name="'+Equipment_Name+'" data-feed="'+Feed_Source+'" class="FlexDisplay FlexRow Divider-Bottom Overflow-Hidden CheckBoxBold" style="width:100%; min-width:100%; min-height: 32px; max-height: 32px;" >'; 
					analyzer += '	<div tooltip="'+Config_File+'" flow="right" class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; height:100%; padding:0px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%;"><i class="mdi '+operating+'"></i></span></div>';
					analyzer += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; height:100%; padding:8px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:11px; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">'+Version+'</span></div>';
					analyzer += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+Lab_Section+'</span></div>';
					analyzer += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+Communication_Type+'</span></div>';
					analyzer += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+Feed_Source+'</span></div>';
					analyzer += '	<div class="FlexDisplay" style="width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+Equipment_Name+'</span></div>';						
					analyzer += '	<div onclick="event.stopPropagation(); edit_analyser(this)" class="FlexDisplay" tooltip="Edit" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-square-edit-outline" style="margin:0px; padding:0px;"></i></div>';
					analyzer += '	<div onclick="event.stopPropagation(); settings_analyser(this)" class="FlexDisplay" tooltip="Settings" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-cogs" style="margin:0px; padding:0px;"></i></div>';
					analyzer += '	<div onclick="event.stopPropagation(); delete_analyser(this)" class="FlexDisplay" tooltip="Delete" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-delete-sweep" style="margin:0px; padding:0px;"></i></div>';
					analyzer += '</div>';	
					
				$(".AnalysersList").append(analyzer);
			}
		//}		
	}
	
	function mode_changed(item){
		if(item.value == "Client"){
			$(item).parents(".dialog__body").find(".IP").removeClass("FlexDisplay");
		}
		else if(item.value == "Server"){
			$(item).parents(".dialog__body").find(".IP").addClass("FlexDisplay");
		}
		
		$(item).parents(".dialog__body").find(".IP .ip-input").val("");
	}
	
	function sub_directory_changed(item){
		if(item.value == "No"){
			$(item).parents(".dialog__body").find(".SubDirectoryFormat").removeClass("FlexDisplay");
		}
		else if(item.value == "Yes"){
			$(item).parents(".dialog__body").find(".SubDirectoryFormat").addClass("FlexDisplay");
		}
		
		$(item).parents(".dialog__body").find(".SubDirectoryFormat .sub-directory-format-input").val("");
	}
	
	function getBaudRates(){
		return ["110","300","600","1200","2400","4800","9600","14400","19200","38400","57600","115200","128000","256000"];
	}
	
	function getParities(){
		return ["None","Odd","Even","Mark","Space"];
	}
	
	function getStopBits(){
		return ["1","1.5","2"];
	}
	
	function getDataBits(){
		return ["5","6","7","8","9"];
	}
	
	function settings_analyser(item){
		hideNavigationDropMenu();
		
		var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
		if(System.IO.File.Exists(config_file)){
			var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
	
			var _FeedSource = $(item).parent().data("feed");
			if(_FeedSource != "TCP/IP" && _FeedSource != "Serial" &&
			   _FeedSource != "File" && _FeedSource != "DataSource") return;
			   
			var _Equipment_Name = $(item).parent().data("name");
			
			var settings = {};
			var _config = configs.filter(function(element){ return element.Name.trim().toLowerCase() == _Equipment_Name.toString().trim().toLowerCase() && 
							element.FeedSource.trim().toLowerCase() == _FeedSource.toString().trim().toLowerCase();}).shift();
			if (_config != undefined && _config != null) settings = _config.Settings;
			
			var content = '';
				content += '<div class="bar-container" style="margin:0px;">';
				content += '	<div class="bar-progress"></div>';
				content += '</div>';
				
				if(_FeedSource == "TCP/IP"){
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-server-network" />';	
					content += '				</div>';
					content += '				<select class="modeType" onchange="mode_changed(this)">';
					content += '					<option '+(settings.Mode == 'Client' ? 'selected=""' : '')+'>Client</option>';
					content += '					<option '+(settings.Mode == 'Server' ? 'selected=""' : '')+'>Server</option>';
					content += '				</select>';
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-server-network-off" />';	
					content += '				</div>';
					content += '				<select class="autoConnectionType">';
					content += '					<option '+(settings.AutoReconnect != 'Yes' && settings.AutoReconnect != 'No' ? 'selected=""' : '')+'>Auto Reconnect</option>';
					content += '					<option '+(settings.AutoReconnect == 'Yes' ? 'selected=""' : '')+'>Yes</option>';
					content += '					<option '+(settings.AutoReconnect == 'No' ? 'selected=""' : '')+'>No</option>';
					content += '				</select>';
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexHidden FlexRow IP '+(settings.Mode == 'Server' ? 'FlexDisplay' : '')+'"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-ip-network-outline" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.IP+'" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" type="text" placeholder="IP"  class="ip-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-network-outline" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.Port+'" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="text" placeholder="Port"  class="tcp-ip-port-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
					content += '					<i class="mdi mdi-playlist-check" />';
					content += '				</div>';
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
				}
				else if(_FeedSource == "Serial"){								
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-serial-port" />';	
					content += '				</div>';	
					content += '				<select class="baudRate">';
					content += '					<option '+(settings.BaudRate == '' ? 'selected=""' : '')+'>Baud Rate</option>';
					getBaudRates().forEach(function(baud){
						content += '				<option '+(settings.BaudRate == baud ? 'selected=""' : '')+' value="'+baud+'">'+baud+'</option>';
					});
					content += '				</select>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-serial-port" />';	
					content += '				</div>';	
					content += '				<select class="parity">';
					content += '					<option '+(settings.Parity == '' ? 'selected=""' : '')+'>Parity</option>';
					getParities().forEach(function(parity){
						content += '				<option '+(settings.Parity == parity ? 'selected=""' : '')+' value="'+parity+'">'+parity+'</option>';
					});
					content += '				</select>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-serial-port" />';	
					content += '				</div>';	
					content += '				<select class="stopBits">';
					content += '					<option '+(settings.StopBits == '' ? 'selected=""' : '')+'>Stop Bits</option>';
					getStopBits().forEach(function(stopbit){
						content += '				<option '+(settings.StopBits == stopbit ? 'selected=""' : '')+' value="'+stopbit+'">'+stopbit+'</option>';
					});
					content += '				</select>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-serial-port" />';	
					content += '				</div>';	
					content += '				<select class="dataBits">';
					content += '					<option '+(settings.DataBits == '' ? 'selected=""' : '')+'>Data Bits</option>';
					getDataBits().forEach(function(databit){
						content += '				<option '+(settings.DataBits == databit ? 'selected=""' : '')+' value="'+databit+'">'+databit+'</option>';
					});
					content += '				</select>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-serial-port" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.Port+'" type="text" placeholder="Port"  class="serial-port-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
					content += '					<i class="mdi mdi-playlist-check" />';
					content += '				</div>';
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
				}
				else if(_FeedSource == "File"){
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-folder-table" />';	
					content += '				</div>';	
					content += '				<select class="useSubDirectories" onchange="sub_directory_changed(this)">';
					content += '					<option '+(settings.IncludeSubDirectory == "" ? 'selected=""' : '')+'>Use Sub Directories</option>';
					content += '					<option '+(settings.IncludeSubDirectory == "Yes" ? 'selected=""' : '')+' value="Yes">Yes</option>';
					content += '					<option '+(settings.IncludeSubDirectory == "No" ? 'selected=""' : '')+' value="No">No</option>';
					content += '				</select>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexHidden FlexRow SubDirectoryFormat"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-folder-table" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.SubDirectoryFormat+'" type="text" placeholder="Sub Directory Format"  class="sub-directory-format-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-file" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.FileNameFormat+'" type="text" placeholder="File Name Format"  class="file-name-format-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-file-settings-outline" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.FileExtension+'" type="text" placeholder="File Extension"  class="file-extension-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-file-delimited-outline" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.FileSeparator+'" type="text" placeholder="File Seperator"  class="file-seperator-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-folder" />';	
					content += '				</div>';	
					content += '				<input value="'+settings.BaseDirectory+'" type="text" placeholder="Base Directory"  class="base-directory-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
					content += '					<i class="mdi mdi-playlist-plus" />';
					content += '				</div>';
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
				}
				else if(_FeedSource == "DataSource"){
					content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
					content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
					content += '			<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
					content += '				<div class="icon" style="padding-top:0px;">';	
					content += '					<i class="mdi mdi-file-link" />';	
					content += '				</div>';	
					content += '				<input type="text" value="'+settings.Source+'" placeholder="Data Source"  class="data-source-input" style="padding:0px 0px 0px 8px;"/>';	
					content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
					content += '					<i class="mdi mdi-playlist-check" />';
					content += '				</div>';
					content += '			</div>';
					content += '		</div>';
					content += '	</div>';
				}
				
				content += '</div>';


			var ana_dlg = ShowDialog('<i class="mdi mdi-file-tree"></i>', _Equipment_Name+" Settings - "+_FeedSource, content,{
				onCloseDialog : function() {
					ana_dlg = null;
					return false; 
				}
			},"320px");
			
			$(ana_dlg.el).find(".enter-value").unbind( "click" );
			$(ana_dlg.el).find(".enter-value").click(function() {				
				var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
				if(System.IO.File.Exists(config_file)){
					var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
					
					for(var x=0; x<configs.length; x++){
						var config = configs[x];
						if( config.Name.trim().toLowerCase() == _Equipment_Name.toString().trim().toLowerCase() && 
							config.FeedSource.trim().toLowerCase() == _FeedSource.toString().trim().toLowerCase()){
							
							if(_FeedSource == "TCP/IP"){
								var _modeType = $(ana_dlg.el).find(".select-dropdown.modeType").find(".current").text();
								var _autoConnectionType = $(ana_dlg.el).find(".select-dropdown.autoConnectionType").find(".current").text();
								var _ip = $(ana_dlg.el).find(".ip-input").val().trim();
								var _port = $(ana_dlg.el).find(".tcp-ip-port-input").val().trim();
								
								if(_port.toString().trim().length > 0){
									if(_modeType == "Server"){
										if(_ip.toString().trim().length > 0){
											config.Settings = {
												"IP": _ip,
												"Port": _port,
												"AutoReconnect": _autoConnectionType,
												"Mode": _modeType
											};
											
											System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
											
											ana_dlg.toggle();
											ana_dlg = null;	
										}
									}
									else if(_modeType == "Client"){
										config.Settings = {
											"IP": "",
											"Port": _port,
											"AutoReconnect": _autoConnectionType,
											"Mode": _modeType
										};
										
										System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
										
										ana_dlg.toggle();
										ana_dlg = null;	
									}
								}
								
							}
							else if(_FeedSource == "Serial"){
								var _baudRate = $(ana_dlg.el).find(".select-dropdown.baudRate").find(".current").text();
								var _parity = $(ana_dlg.el).find(".select-dropdown.parity").find(".current").text();
								var _stopBits = $(ana_dlg.el).find(".select-dropdown.stopBits").find(".current").text();
								var _dataBits = $(ana_dlg.el).find(".select-dropdown.dataBits").find(".current").text();
								var _port = $(ana_dlg.el).find(".serial-port-input").val().trim();
								
								if(_port.toString().trim().length > 0 &&
								   _baudRate == "Baud Rate" && 
								   _parity == "Parity" && 
								   _stopBits == "Stop Bits" && 
								   _dataBits == "Data Bits"){
								   
									config.Settings = {
										"BaudRate": _baudRate,
										"Parity": _parity,
										"StopBits": _stopBits,
										"DataBits": _dataBits,
										"Port": _port.toString()
									};
									
									System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
									
									ana_dlg.toggle();
									ana_dlg = null;	
								}								
							}
							else if(_FeedSource == "File"){
								var _useSubDirectories = $(ana_dlg.el).find(".select-dropdown.useSubDirectories").find(".current").text();
								var _subDirectoryFormat = $(ana_dlg.el).find(".sub-directory-format-input").val().trim();
								var _fileNameFormat = $(ana_dlg.el).find(".file-name-format-input").val().trim();								
								var _fileExtension = $(ana_dlg.el).find(".file-extension-input").val().trim();
								var _fileSeperator = $(ana_dlg.el).find(".file-seperator-input").val().trim();
								var _baseDirectory = $(ana_dlg.el).find(".base-directory-input").val().trim();
								
								if(_baseDirectory.toString().trim().length > 0){
									config.Settings = {
										"BaseDirectory": _baseDirectory,
										"IncludeSubDirectory": _useSubDirectories,
										"SubDirectoryFormat": _subDirectoryFormat,
										"FileNameFormat": _fileNameFormat,
										"FileExtension": _fileExtension,
										"FileSeparator": _fileSeperator
									};
									
									System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
									
									ana_dlg.toggle();
									ana_dlg = null;	
								}
							}
							else if(_FeedSource == "DataSource"){
								var _data_source = $(ana_dlg.el).find(".data-source-input").val().trim();
								
								if(_data_source.toString().trim().length > 0){
									config.Settings = {
										"Source": _data_source
									};
									
									System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
									
									ana_dlg.toggle();
									ana_dlg = null;		
								}
							}

							break;
						}
					}
				}						
			});
			
			create_custom_dropdowns();
			
			if(_FeedSource == "TCP/IP"){			
				focusEvents($(ana_dlg.el).find(".ip-input"),
					function(){
						$(this).parent().removeClass("is-invalid");
						$(this).parent().attr("tooltip","");
					},
					function(){
						var val = $(this).val();
						if(val.trim().length > 0){
							if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/im.test(val.trim())){
								$(this).parent().removeClass("is-invalid");
							}
							else {
								$(this).parent().addClass("is-invalid");
								$(this).parent().attr("tooltip","Invalid IP address");
							}
						}
						else $(this).parent().removeClass("is-invalid");
					}
				);
				
				focusEvents($(ana_dlg.el).find(".tcp-ip-port-input"),
					function(){
						$(this).parent().removeClass("is-invalid");
						$(this).parent().attr("tooltip","");
					},
					function(){
						var val = $(this).val();
						if(val.trim().length > 0){
							if (/^()([1-9]|[1-5]?[0-9]{2,4}|6[1-4][0-9]{3}|65[1-4][0-9]{2}|655[1-2][0-9]|6553[1-5])$/gm.test(val.trim())){
								$(this).parent().removeClass("is-invalid");
							}
							else {
								$(this).parent().addClass("is-invalid");
								$(this).parent().attr("tooltip","Valid port range is 0 to 65535");
							}
						}
						else $(this).parent().removeClass("is-invalid");
					}
				);
			}
			else if(_FeedSource == "Serial"){	
				var _baudRate = $(ana_dlg.el).find(".select-dropdown.baudRate").find(".list");
				if(_baudRate != undefined && _baudRate != null){
					_baudRate.addClass("scroll scroll2");
					_baudRate.css({"overflow-y": "auto", "max-height": "200px"});
				}
				
				var _parity = $(ana_dlg.el).find(".select-dropdown.parity").find(".list");
				if(_parity != undefined && _parity != null){
					_parity.addClass("scroll scroll2");
					_parity.css({"overflow-y": "auto", "max-height": "200px"});
				}
				
				var _stopBits = $(ana_dlg.el).find(".select-dropdown.stopBits").find(".list");
				if(_stopBits != undefined && _stopBits != null){
					_stopBits.addClass("scroll scroll2");
					_stopBits.css({"overflow-y": "auto", "max-height": "200px"});
				}
			}
		}
	}
	
	function edit_analyser(item){
		hideNavigationDropMenu();
		
		var _FeedSource = $(item).parent().data("feed");
		if(_FeedSource != "TCP/IP" && _FeedSource != "Serial" &&
		   _FeedSource != "File" && _FeedSource != "DataSource") return;
		   
		var _Equipment_Name = $(item).parent().data("name");
		
		var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
		if(System.IO.File.Exists(config_file)){
			var configs_1 = JSON.parse(System.IO.File.ReadAllText(config_file));
			
			var config = configs_1.filter(function(element){ return element.Name == _Equipment_Name && element.FeedSource == _FeedSource;}).shift();
			if (config != undefined && config != null){
				config_file = System.IO.Path.Combine("web","blis","configurations","lab_sections.json");
				if(System.IO.File.Exists(config_file)){
					var lab_sections = JSON.parse(System.IO.File.ReadAllText(config_file));
					
					var content = equptment_details(config, lab_sections);
					var ana_dlg = ShowDialog('<i class="mdi mdi-file-tree"></i>', "Add equipment", content,{
						onCloseDialog : function() {
							ana_dlg = null;
							return false; 
						}
					},"320px");	
					
					create_custom_dropdowns();
				
					var _labSections = $(ana_dlg.el).find(".select-dropdown.labSections").find(".list");
					if(_labSections != undefined && _labSections != null){
						_labSections.addClass("scroll scroll2");
						_labSections.css({"overflow-y": "auto", "max-height": "200px"});
					}
					
					$(ana_dlg.el).find(".enter-value").unbind( "click" );
					$(ana_dlg.el).find(".enter-value").click(function() {
					
						var _feedSource = $(ana_dlg.el).find(".select-dropdown.connectionType").find(".current").text();				
						var _name = $(ana_dlg.el).find(".name-input").val().trim();
						var _version = $(ana_dlg.el).find(".version-input").val().trim();				
						var _labSection = $(ana_dlg.el).find(".select-dropdown.labSections").find(".current").text();
						var _communicationType = $(ana_dlg.el).find(".select-dropdown.CommunicationType").find(".current").text();				
						var _config_file = $(ana_dlg.el).find(".config-file-input").val().trim();
												
						if(_feedSource != "Connection Type" && _name.length > 0 && _version.length && _labSection != "Lab Section" &&
						   _communicationType != "Communication Type" && _config_file.length > 0){
						   
							config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
							if(System.IO.File.Exists(config_file)){
								var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
								
								var id = _name[0].toUpperCase();
								if(id >= 0 && id <= 9)id = "0_9";
								
								var old_id = _Equipment_Name.toString().trim()[0].toUpperCase();
								if(old_id >= 0 && old_id <= 9)old_id = "0_9";
								
								
								
								for(var x=0; x<configs.length; x++){
									var config = configs[x];
									
									if(_Equipment_Name.toString().trim().toLowerCase() == config.Name.trim().toLowerCase() &&
									    _FeedSource.toString().trim().toLowerCase() == config.FeedSource.trim().toLowerCase()){
										
										_name = _name.charAt(0).toUpperCase() + _name.slice(1);
								
										config.Name=_name;
										config.Version=_version;
										config.ConfigFile=_config_file;
										config.LabSection=_labSection;
										config.CommunicationType=_communicationType;
										config.FeedSource=_feedSource;

										System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
										
										var hasItems = false;
										for(var x=0; x<configs.length; x++){
											var config = configs[x];
											var _id = config.Name[0].toUpperCase();
											if(old_id == _id){
												hasItems = true;
												break;
											}
										}
										
										if(!hasItems)$('#Page_'+old_id).addClass('Disabled');
										
										$('#Page_'+id).removeClass('Disabled');	
										$("#pagingBox").find('.Pager').each(function(){
											$(this).removeClass('Selected');
										});			
										$('#Page_'+id).addClass('Selected');
										
										$('#Page_'+id).off("click");
										$('#Page_'+id).click(function(){
											if(!$(this).hasClass('Disabled')){
												$("#pagingBox").find('.Pager').each(function(){
													$(this).removeClass('Selected');
												});
												$(this).addClass('Selected');
												
												var _id = $(this).attr('id').replace('Page_','');	
												populateData(configs, _id);
											}
										});
										
										populateData(configs, id);
															
										ana_dlg.toggle();
										ana_dlg = null;	
										
										break;
									}
								}
							}
						}
					});
				}
			}
		}
	}
	
	function delete_analyser(item){
		hideNavigationDropMenu();
		
		var _FeedSource = $(item).parent().data("feed");
		if(_FeedSource != "TCP/IP" && _FeedSource != "Serial" &&
		   _FeedSource != "File" && _FeedSource != "DataSource") return;
		   
		var _Equipment_Name = $(item).parent().data("name");
				
		var content = '';
			content += '<div class="bar-container" style="margin:0px;">';
			content += '	<div class="bar-progress"></div>';
			content += '</div>'; 
			
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:48px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<h4 class="feature-title mt-0" style="margin:auto auto; font-size: 12px; font-weight:normal;">Are you sure you want to delete equipment "'+_Equipment_Name+'" of type "'+_FeedSource+'"</h4>';
			content += '		</div>';
			content += '	</div>';
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:56px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div class="FlexDisplay" style="margin:auto auto;">';
			content += '				<div class="yesButton button button-primary" style="margin:0px 4px 0px 0px;">Yes</div>';
			content += '				<div class="noButton button button-primary" style="margin:0px 0px 0px 4px;">No</div>';
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			
			
			content += '</div>';


		var ana_dlg = ShowDialog('<i class="mdi mdi-flask-minus-outline"></i>', "Delete equipment", content,{
			onCloseDialog : function() {
				ana_dlg = null;
				return false; 
			}
		},"400px");	
		
		$(ana_dlg.el).find(".yesButton").unbind( "click" );
		$(ana_dlg.el).find(".yesButton").click(function() {	
		
			var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
			if(System.IO.File.Exists(config_file)){
				var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
				
				for(var x=0; x<configs.length; x++){
					var config = configs[x];
					if( config.Name.trim().toLowerCase() == _Equipment_Name.toString().trim().toLowerCase() && config.FeedSource.trim().toLowerCase() == _FeedSource.toString().trim().toLowerCase()){
						configs.splice(x, 1);
						
						System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
						
						var id = config.Name[0].toUpperCase();
						if(id >= 0 && id <= 9)id = "0_9";
						
						var hasItems = false;
						for(var x=0; x<configs.length; x++){
							var config = configs[x];
							var _id = config.Name[0].toUpperCase();
							if(id == _id){
								hasItems = true;
								break;
							}
						}
						
						if(hasItems){
							populateData(configs, id);
						}
						else{
							$('#Page_'+id).addClass('Disabled');
							$("#pagingBox").find('.Pager').each(function(){
								$(this).removeClass('Selected');
							});
							
							var _id = "0_9";
							var foundOne = false;
							$("#pagingBox").find('.Pager').each(function(){
								if(!$(this).hasClass('Disabled')){
									if(!foundOne){
										foundOne = true;
										_id = $(this).attr('id').replace('Page_','');
									}
								}
							});	
							
							$('#Page_'+_id).addClass('Selected');
							populateData(configs, _id);
						}
						
						ana_dlg.toggle();
						ana_dlg = null;						
						
						break;
						
					}
				}
			}		
		});
		
		$(ana_dlg.el).find(".noButton").unbind( "click" );
		$(ana_dlg.el).find(".noButton").click(function() {
			ana_dlg.toggle();
			ana_dlg = null;		
		});
	}
	
	function hideNavigationDropMenu(){
		$(".add-equipment .submenu").hide();
		$(".add-equipment").attr('id', '');
	}
	
	function preparePager(){
		$("#pagingBox").html('');

		var pages = '';
		pages += '<div id="Page_0_9" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow Button NonStandard Pager Disabled" style="height:32px;">';
		pages += '	<span class="text" style="text-align:center; display:inline-block; width:100%; font-size:11px; margin:2px 0px 0px 0px;">0-9</span>';
		pages += '</div>';

		var selected = "Page_";
		for(x=65;x<65+26;x++){
			var c = String.fromCharCode(x);
			pages += '<div id="Page_'+c+'" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow Button NonStandard Pager Divider-Left Disabled" style="height:32px;">';
			pages += '	<span class="text" style="text-align:center; display:inline-block; width:100%; font-size:11px; margin:2px 0px 0px 0px;">'+c+'</span>';
			pages += '</div>';
		}
		$("#pagingBox").html(pages);
	}
	
	function fakeData(){
		preparePager();
		
		var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
		if(System.IO.File.Exists(config_file)){
			var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
			
			var pagerList = [];
			for(var x=0; x<configs.length; x++){
				var config = configs[x];
				
				var id = config.Name[0];
				
				if(id >= 0 && id <= 9)id = "0_9";
				if(pagerList.indexOf(id) == -1)pagerList.push(id);
			}
			pagerList.sort();
			
			for(var x=0; x<pagerList.length; x++){
				var id = pagerList[x];
				
				$('#Page_'+id).removeClass('Disabled');						
				$('#Page_'+id).off("click");
				$('#Page_'+id).click(function(){
					if(!$(this).hasClass('Disabled')){
						$("#pagingBox").find('.Pager').each(function(){
							$(this).removeClass('Selected');
						});
						$(this).addClass('Selected');
						
						var _id = $(this).attr('id').replace('Page_','');	
						populateData(configs, _id);
					}
				});
				
				if(x==0){
					$('#Page_'+id).addClass('Selected');
					populateData(configs, id);
				}
			}
		}	
	}
	
	function equptment_details(item, sections){
						
		var content = '';
			content += '<div class="bar-container" style="margin:0px;">';
			content += '	<div class="bar-progress"></div>';
			content += '</div>';
			
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
			content += '				<div class="icon" style="padding-top:0px;">';	
			content += '					<i class="mdi mdi-monitor-cellphone-star" />';	
			content += '				</div>';
			content += '				<select class="connectionType">';
			content += '					<option '+(item.FeedSource == "" ? 'selected=""' : '')+'>Connection Type</option>';
			content += '					<option '+(item.FeedSource == "TCP/IP" ? 'selected=""' : '')+'>TCP/IP</option>';
			content += '					<option '+(item.FeedSource == "Serial" ? 'selected=""' : '')+'>Serial</option>';
			content += '					<option '+(item.FeedSource == "File" ? 'selected=""' : '')+'>File</option>';
			content += '					<option '+(item.FeedSource == "DataSource" ? 'selected=""' : '')+'>DataSource</option>';
			content += '				</select>';
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
			content += '				<div class="icon" style="padding-top:0px;">';	
			content += '					<i class="mdi mdi-cellphone-link" />';	
			content += '				</div>';	
			content += '				<input type="text" placeholder="Name" value="'+item.Name+'" class="name-input" style="padding:0px 0px 0px 8px;"/>';	
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
			content += '				<div class="icon" style="padding-top:0px;">';	
			content += '					<i class="mdi mdi-cellphone-link" />';	
			content += '				</div>';	
			content += '				<input type="text" placeholder="Version" value="'+item.Version+'"  class="version-input" style="padding:0px 0px 0px 8px;"/>';	
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
			content += '				<div class="icon" style="padding-top:0px;">';	
			content += '					<i class="mdi mdi-flask-outline" />';	
			content += '				</div>';
			content += '				<select class="labSections">';
			content += '					<option '+(item.LabSection == "" ? 'selected=""' : '')+'>Lab Section</option>';
			for(var x=0; x<sections.length; x++){
				var section = sections[x];
				content += '				<option '+(item.LabSection == section ? 'selected=""' : '')+'>'+section+'</option>';
			}
			content += '				</select>';			
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px;  margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
			content += '				<div class="icon" style="padding-top:0px;">';	
			content += '					<i class="mdi mdi-arrow-decision" />';	
			content += '				</div>';
			content += '				<select class="CommunicationType">';
			content += '					<option '+(item.CommunicationType == "" ? 'selected=""' : '')+'>Communication Type</option>';
			content += '					<option '+(item.CommunicationType == "Bi-directional" ? 'selected=""' : '')+'>Bi-directional</option>';
			content += '					<option '+(item.CommunicationType == "Uni-directional" ? 'selected=""' : '')+'>Uni-directional</option>';
			content += '				</select>';
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
			content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
			content += '			<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
			content += '				<div class="icon" style="padding-top:0px;">';	
			content += '					<i class="mdi mdi-file-link" />';	
			content += '				</div>';	
			content += '				<input type="text" placeholder="Configuration File" value="'+item.ConfigFile+'"  class="config-file-input" style="padding:0px 0px 0px 8px;"/>';	
			content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
			content += '					<i class="mdi mdi-playlist-check" />';
			content += '				</div>';
			content += '			</div>';
			content += '		</div>';
			content += '	</div>';
			
			
			content += '</div>';
			
			return content;
	}
	
	$(".add-equipment").unbind( "click" );
	$(".add-equipment").click(function(){	
		hideNavigationDropMenu();
		
		var config_file = System.IO.Path.Combine("web","blis","configurations","lab_sections.json");
		if(System.IO.File.Exists(config_file)){
			var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
			
			var content = equptment_details({
				"Name": "",
				"Version": "",
				"ConfigFile": "",
				"LabSection": "",
				"CommunicationType": "",
				"FeedSource": ""
			}, configs);


			var ana_dlg = ShowDialog('<i class="mdi mdi-file-tree"></i>', "Add equipment", content,{
				onCloseDialog : function() {
					ana_dlg = null;
					return false; 
				}
			},"320px");	
			
			$(ana_dlg.el).find(".enter-value").unbind( "click" );
			$(ana_dlg.el).find(".enter-value").click(function() {
			
				var _feedSource = $(ana_dlg.el).find(".select-dropdown.connectionType").find(".current").text();				
				var _name = $(ana_dlg.el).find(".name-input").val().trim();
				var _version = $(ana_dlg.el).find(".version-input").val().trim();				
				var _labSection = $(ana_dlg.el).find(".select-dropdown.labSections").find(".current").text();
				var _communicationType = $(ana_dlg.el).find(".select-dropdown.CommunicationType").find(".current").text();				
				var _config_file = $(ana_dlg.el).find(".config-file-input").val().trim();
				
				if(_feedSource != "Connection Type" && _name.length > 0 && _version.length && _labSection != "Lab Section" &&
				   _communicationType != "Communication Type" && _config_file.length > 0){
				   
					var config_file = System.IO.Path.Combine("web","blis","configurations","analysers.json");
					if(System.IO.File.Exists(config_file)){
						var configs = JSON.parse(System.IO.File.ReadAllText(config_file));
						
						var id = _name[0].toUpperCase();
						if(id >= 0 && id <= 9)id = "0_9";
						
						var exists = false;
						for(var x=0; x<configs.length; x++){
							var config = configs[x];
							if(_name.trim().toLowerCase() == config.Name.trim().toLowerCase() &&
							   _feedSource.trim().toLowerCase() == config.FeedSource.trim().toLowerCase()){
								exists = true;
								break;
							}
						}
						
						if(!exists){
							_name = _name.charAt(0).toUpperCase() + _name.slice(1);
							
							var settings = {};
							if(_feedSource == "TCP/IP"){
								settings = {
									"IP": "",
									"Port": "",
									"AutoReconnect": "",
									"Mode": ""
								};								
							}
							else if(_feedSource == "Serial"){
								settings = {
									"BaudRate": "",
									"Parity": "",
									"StopBits": "",
									"DataBits": "",
									"Port": ""
								};
							}
							else if(_feedSource == "File"){
								settings = {
									"BaseDirectory": "",
									"IncludeSubDirectory": "",
									"SubDirectoryFormat": "",
									"FileNameFormat": "",
									"FileExtension": "",
									"FileSeparator": ""
								};
							}
							else if(_feedSource == "DataSource"){
								settings = {
									"Source": ""
								};
							}
						
							configs.push({
								"Name": _name,
								"Version": _version,
								"ConfigFile": _config_file,
								"LabSection": _labSection,
								"CommunicationType": _communicationType,
								"FeedSource": _feedSource,
								"Settings": settings
							});
							
							System.IO.File.WriteAllText(config_file,JSON.stringify(configs));
							
							$('#Page_'+id).removeClass('Disabled');	
							$("#pagingBox").find('.Pager').each(function(){
								$(this).removeClass('Selected');
							});			
							$('#Page_'+id).addClass('Selected');
							
							$('#Page_'+id).off("click");
							$('#Page_'+id).click(function(){
								if(!$(this).hasClass('Disabled')){
									$("#pagingBox").find('.Pager').each(function(){
										$(this).removeClass('Selected');
									});
									$(this).addClass('Selected');
									
									var _id = $(this).attr('id').replace('Page_','');	
									populateData(configs, _id);
								}
							});
							
							populateData(configs, id);
							
							ana_dlg.toggle();
							ana_dlg = null;
						}
						else{
							var item = $(ana_dlg.el).find(".name-input");
							if(item != undefined && item != null){
								item.parent().addClass("is-invalid");
								item.parent().attr("tooltip","Equipment name already exists");
								item.focus(function(){
									$(this).parent().removeClass("is-invalid");
									$(this).parent().attr("tooltip","");
								});
							}
						}
					}
				}
			});
			
			create_custom_dropdowns();
		
			var _labSections = $(ana_dlg.el).find(".select-dropdown.labSections").find(".list");
			if(_labSections != undefined && _labSections != null){
				_labSections.addClass("scroll scroll2");
				_labSections.css({"overflow-y": "auto", "max-height": "200px"});
			}
		}
	});

	$(".add-specimen-type").mouseup(function(){
		return false;
	});
	$(".submenu").mouseup(function(){
		return false;
	});

	$('.add-specimen-type .submenu .root .nav-button').each(function (index, value) {
		$(this).click(function(){
			
		});
	});

	hideNavigationDropMenu();
	
	fakeData();
	
	closeLoadingPage();
	
</script>