/*.bin
/*.dat
/*.dll
/*.exe
/*.lib
/*.pak
/Logs
/logo.ico
/locales
/resources
/swiftshader
!/ChromiumHost.Installer.exe
!/System.Security.Cryptography.Algorithms.dll
!/System.Security.Cryptography.Primitives.dll