<div class="FlexDisplay FlexColumn container"  style="margin:0px; padding:0px; height:100%;">
	<div class="FlexDisplay" style="background:#535FD7; height:48px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);" >
		<div id="backBtn"  class="nav-button" >
			<i class="mdi mdi-apps"></i>
		</div>
		<div class="FlexDisplay">
			<span class="BHIS-Title" style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; font-weight:normal; font-size:12px; color:#ffffff; margin:auto 8px;">Basic Laboratory Information System</span>
		</div>
		<div class="FlexDisplay FlexGrow" style="height:100%;"></div>
		<div class="add-item dropdown" tooltip="add item" flow="left">
			<div class="nav-button transparent dropdown">
				<i class="mdi mdi-plus-box-multiple-outline"></i>
			</div>
			<div class="submenu">
				<ul class="root"/>
			</div>
		</div>
	</div>
	<div class="FlexDisplay Flex ContentPage  inner-section FadeIn"  style="width:100%; height:1px;">
		<div class="FlexDisplay FlexBoxSizing-BorderBox" style="width:100%; height:100%; overflow: hidden; position:relative;">
			<div style="width:100%; height:100%; margin:16px 16px 16px 16px;">
				<div class="page-container Flex FlexColumn Overflow-Hidden inner-container Round Shadow" style="position:relative; height:calc(100% - 32px);  width:100%;">
					<div class="FlexDisplay FlexRow Divider-Bottom" style="height:32px; " >
						<h4 class="feature-title mt-0" style="margin:0px 0px 0px 12px; font-size: 12px; font-weight:normal;">INVENTORY</h4>
					</div>
					<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox" style="width:100%;  height:calc(100% - 32px); z-index:2;">
						<div class="FlexDisplay FlexColumn"  style="width:100%; min-height: 24px; max-height: 24px;">
							<div class="FlexDisplay FlexRow Divider-Bottom Overflow-Hidden " style="width:100%; padding:0px;">
								<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; min-height: 32px; max-height: 32px; padding:7px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;"></div>
								<div class="FlexDisplay Divider-Right" style="min-width:200px; max-width:200px; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">ITEM</span></div>
								<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">QUANTITY</span></div>
								<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">AVAILABLE</span></div>
								<div class="FlexDisplay" style="width:100%; min-height: 32px; max-height: 32px; overflow:hidden; padding:7px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">UNIT</span></div>			
							</div>	
						</div>
						<div class="FlexDisplay FlexColumn FlexBoxSizing-BorderBox scroll scroll2 StocksList" style="overflow-y:auto; height:calc(100% - 24px);"></div>
					</div>			
				</div>
			</div>
		</div>
	</div>
</div>
<script>

$("#backBtn").unbind( "click" );
$('#backBtn').click(function(){
	var page = System.IO.Path.Combine("web","bhis","views",backNavigation);
	loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
});

function hideNavigationDropMenu(){
	$(".add-item .submenu").hide();
	$(".add-item").attr('id', '');
}

function edit_item(item, id, name, unit, remarks){
	hideNavigationDropMenu();
	
	var content = '';
		content += '<div class="bar-container" style="margin:0px;">';
		content += '	<div class="bar-progress"></div>';
		content += '</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Name"  class="name-input" value="'+name+'" style="padding:0px 0px 0px 8px;"/>';	
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Unit"  class="unit-input" value="'+unit+'" style="padding:0px 0px 0px 8px;"/>';	
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Remarks"  class="remarks-input"  value="'+remarks+'" style="padding:0px 0px 0px 8px;"/>';	
		content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
		content += '					<i class="mdi mdi-playlist-plus" />';
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		
		content += '</div>';
		
		var stock_dlg = ShowDialog('<i class="mdi mdi-clipboard-list-outline"></i>', "Edit Item", content,{
			onCloseDialog : function() {
				stock_dlg = null;
				return false; 
			}
		},"320px");	
		
		focusEvents($(stock_dlg.el).find(".name-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
			},
			function(){
			
			}
		);

		focusEvents($(stock_dlg.el).find(".unit-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
			},
			function(){
				
			}
		);
		
		$(stock_dlg.el).find(".enter-value").unbind( "click" );
		$(stock_dlg.el).find(".enter-value").click(function() {
		var _name = $(stock_dlg.el).find(".name-input").val().trim();
		var _unit = $(stock_dlg.el).find(".unit-input").val().trim();
		var _remarks = $(stock_dlg.el).find(".remarks-input").val().trim();
		
		if(_name.length > 0 && _unit.length > 0){
		
			_name = _name.charAt(0).toUpperCase() + _name.slice(1);
			
			var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
			if(con != null){
				con.open();

				var query    = "UPDATE `stocks` SET ";								
					query   += " `Name` = @Name ";
					query   += ",`Unit` = @Unit ";
					query   += ",`Remarks` = @Remarks ";
					query   += "WHERE `ID` = @ID ";
				
				var comm = con.createCommand(query);
				if(comm != null){
					comm.addParameter("@ID", "Int32", id);
					comm.addParameter("@Name", "String", _name);
					comm.addParameter("@Unit", "String", _unit);
					comm.addParameter("@Remarks", "String", _remarks);
					comm.executeNonQuery();
					con.close();
					
					loadData();
										
					stock_dlg.toggle();
					stock_dlg = null;	
					
				}
				else con.close();
			}
		}
		else{
			if(_name.length == 0){
				var item = $(stock_dlg.el).find(".name-input");
				if(item != undefined && item != null){
					item.parent().addClass("is-invalid");
					item.parent().attr("tooltip","Name is required");
					item.focus(function(){
						$(this).parent().removeClass("is-invalid");
						$(this).parent().attr("tooltip","");
					});
				}
			}
			
			if( _unit.length == 0){
				var item = $(stock_dlg.el).find(".unit-input");
				if(item != undefined && item != null){
					item.parent().addClass("is-invalid");
					item.parent().attr("tooltip","Unit is required");
					item.focus(function(){
						$(this).parent().removeClass("is-invalid");
						$(this).parent().attr("tooltip","");
					});
				}
			}
		}
	});
}

function delete_item(item, id, name){
	var content = '';
		content += '<div class="bar-container" style="margin:0px;">';
		content += '	<div class="bar-progress"></div>';
		content += '</div>'; 
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:48px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<h4 class="feature-title mt-0" style="margin:auto auto; font-size: 12px; font-weight:normal;">Are you sure you want to delete item "'+name+'"</h4>';
		content += '		</div>';
		content += '	</div>';
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:56px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div class="FlexDisplay" style="margin:auto auto;">';
		content += '				<div class="yesButton button button-primary" style="margin:0px 4px 0px 0px;">Yes</div>';
		content += '				<div class="noButton button button-primary" style="margin:0px 0px 0px 4px;">No</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '</div>';

	var stock_dlg = ShowDialog('<i class="mdi mdi-account-minus"></i>', "Delete item", content,{
		onCloseDialog : function() {
			stock_dlg = null;
			return false; 
		}
	},"400px");	
	
	$(stock_dlg.el).find(".yesButton").unbind( "click" );
	$(stock_dlg.el).find(".yesButton").click(function() {
		var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
		if(con != null){
			con.open();

			var query    = "DELETE FROM `stock_usage` ";							
				query   += "WHERE `StockID` = @StockID ";
			
			var comm = con.createCommand(query);
			if(comm != null){
				comm.addParameter("@StockID", "Int32", id);
				comm.executeNonQuery();
				
				query    = "DELETE FROM `stock_items` ";							
				query   += "WHERE `StockID` = @StockID ";
			
				comm = con.createCommand(query);
				if(comm != null){
					comm.addParameter("@StockID", "Int32", id);
					comm.executeNonQuery();
					
					query    = "DELETE FROM `stocks` ";							
					query   += "WHERE `ID` = @StockID ";
				
					comm = con.createCommand(query);
					if(comm != null){
						comm.addParameter("@StockID", "Int32", id);
						comm.executeNonQuery();
						con.close();
						
						loadData();
									
						stock_dlg.toggle();
						stock_dlg = null;	
					}					
				}				
			}
			else con.close();
		}
	});
	
	$(stock_dlg.el).find(".noButton").unbind( "click" );
	$(stock_dlg.el).find(".noButton").click(function() {
		stock_dlg.toggle();
		stock_dlg = null;		
	});
}

function lotnumber_selected(item, id){
	var parent = $(item).parents(".Lots");
	
	var available_quantity = parent.find('.available-quantity-input');
	var lotnumber =  $(item).parent().find(".select-dropdown.lotnumbers .current").text();	
	
	if(available_quantity != undefined && available_quantity != null){
		var usage = getUsage(id, lotnumber);
		available_quantity.val(usage.available);
	}
}

function getUsage(id, lotnumber){
	var quantity = 0;
	var used = 0;
	var available = 0;
		
	var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
	if(con != null){
		con.open();
		
			var query   = "SELECT  ";
				query  += "	SUM(`si`.`QuantitySupplied`) as `Quantity`, ";
				query  += "	COALESCE((SELECT SUM(`QuantitySignedOut`)  ";
				query  += "	 FROM `stock_usage`  ";
				query  += "	 WHERE `StockID` = `si`.`StockID` ";
				if(lotnumber != undefined && lotnumber != null)query  += "	 AND `LotNumber` = `si`.`LotNumber`";
				query  += "	 GROUP BY `StockID`),0) as `Used`, ";
				query  += "	SUM(`si`.`QuantitySupplied`) - COALESCE((SELECT SUM(`QuantitySignedOut`)  ";
				query  += "	 FROM `stock_usage`  ";
				query  += "	 WHERE `StockID` = `si`.`StockID` ";
				if(lotnumber != undefined && lotnumber != null)query  += "	 AND `LotNumber` = `si`.`LotNumber`";
				query  += "	 GROUP BY `StockID`),0) as `Available` ";				
				query  += "FROM `stock_items` `si` ";
				query  += "WHERE `si`.`StockID` = @StockID ";
				if(lotnumber != undefined && lotnumber != null)query  += "AND `si`.`LotNumber` = @LotNumber ";
				query  += "GROUP BY `si`.`StockID`; ";

		var comm = con.createCommand(query);
		if(comm != null){
			comm.addParameter("@StockID", "Int32", id);
			if(lotnumber != undefined && lotnumber != null)comm.addParameter("@LotNumber", "String", lotnumber);
			var reader = comm.executeReader();
			if(reader != null){
				if(reader.read()){
					var row = JSON.parse(reader.getValues());	
					if(row != undefined && row != null){
						quantity = parseInt(row.Quantity);
						available = parseInt(row.Available);
						used = parseInt(row.Used);
					}
				}
				reader.close();
				con.close();				
			}
			else con.close();
		}
		else con.close();
	}
	
	return {
		quantity : quantity,
		used:used,
		available : available
	};
}

function update_stock(item, id, name, unit){
	hideNavigationDropMenu();
	
	var lotnumber =  null;	
	var content = '';
		content += '<div class="bar-container" style="margin:0px;">';
		content += '	<div class="bar-progress"></div>';
		content += '</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-clipboard-text-outline" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Name" disabled value="'+name+'"  class="name-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px; ">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-clipboard-text-outline" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Unit" disabled value="'+unit+'" class="unit-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow Lots"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:178px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-pound-box" />';	
		content += '					</div>';
		content += '					<select class="lotnumbers" onchange="lotnumber_selected(this, '+id+')">';
		var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
		if(con != null){
			con.open();

			var query  = "SELECT `LotNumber` ";
				query += "FROM `stock_items` ";
				query += "WHERE `StockID` = @StockID ";
					
			var comm = con.createCommand(query);
			if(comm != null){
				comm.addParameter("@StockID", "Int32", id);
				var reader = comm.executeReader();
				if(reader != null){
					var xx = 0;
					while(reader.read()){
						var row = JSON.parse(reader.getValues());						
						if(row != undefined && row != null){
							if(xx == 0){
								content += '<option selected="">'+row.LotNumber+'</option>';
								lotnumber =  row.LotNumber;
							}
							else content += '<option>'+row.LotNumber+'</option>';
							
							xx++;
						}
					}
					reader.close();
					con.close();				
				}
				else con.close();
			}
			else con.close();
		}
		content += '					</select>';
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="down" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-counter" />';	
		content += '					</div>';
		
		if(lotnumber != null){
			var usage = getUsage(id, lotnumber);
			content += '					<input type="text" placeholder="Available Quantity" disabled value="'+usage.available+'" class="available-quantity-input" style="padding:0px 0px 0px 8px;"/>';	
		}
		else content += '					<input type="text" placeholder="Available Quantity" disabled value="Unknown" class="available-quantity-input" style="padding:0px 0px 0px 8px;"/>';	
		
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';		
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="down" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-counter" />';	
		content += '					</div>';	
		content += '					<input onkeypress="return isNumberKey(event)" type="text" placeholder="Quantity Signed Out" class="quantity-signed-out-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-calendar-today" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Date of Usage" class="date-of-usage-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Remarks"  class="remarks-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
		content += '					<i class="mdi mdi-playlist-plus" />';
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		
		content += '</div>';
		
		var stock_dlg = ShowDialog('<i class="mdi mdi-clipboard-list-outline"></i>', "Update Stock", content,{
			onCloseDialog : function() {
				stock_dlg = null;
				return false; 
			}
		},"480px");	
		
		create_custom_dropdowns();
		
		var dateOptions = {language: 'en' ,dateFormat: 'dd/mm/yyyy', position: "top right" };
		var date_of_usage_datepicker = InitDatePicker($('.date-of-usage-input'), dateOptions);
		
		focusEvents($(stock_dlg.el).find(".date-of-usage-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
				$(this).parent().attr("tooltip","");
			},
			function(){
				var val = $(this).val();
				if(val.trim().length > 0){
					if (/^\d{2}[.\/-]\d{2}[.\/-]\d{4}$/im.test(val.trim())){
						$(this).parent().removeClass("is-invalid");
					}
					else $(this).parent().addClass("is-invalid");
				}
				else $(this).parent().removeClass("is-invalid");
			}
		);
		
		$(stock_dlg.el).find(".enter-value").unbind( "click" );
		$(stock_dlg.el).find(".enter-value").click(function() {
			var _quantity_signed_out = $(stock_dlg.el).find(".quantity-signed-out-input").val().trim();
			var _date_of_usage = $(stock_dlg.el).find(".date-of-usage-input").val().trim();
			var _remarks = $(stock_dlg.el).find(".remarks-input").val().trim();	
			var lotnumber =  $(stock_dlg.el).find(".select-dropdown.lotnumbers .current").text();	
			
			if(_quantity_signed_out.length > 0 && _date_of_usage.length > 0 &&
			   !$(stock_dlg.el).find(".date-of-usage-input").hasClass("is-invalid")){
			   
				var usage = getUsage(id, lotnumber);
				var quantity = usage.quantity;
				var available = usage.available;
				
				if(available - parseInt(_quantity_signed_out) >= 0){
					var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
					if(con != null){
						con.open();

						var query    = "INSERT INTO `stock_usage` ( ";
							query   += "	`StockID` ";
							query   += "	,`LotNumber` ";
							query   += "	,`QuantitySignedOut` ";
							query   += "	,`DateOfUsage` ";
							query   += "	,`Remarks` ";
							query   += ") ";
							query   += "VALUES ( ";
							query   += "	@StockID ";
							query   += "	,@LotNumber ";
							query   += "	,@QuantitySignedOut ";
							query   += "	,@DateOfUsage ";
							query   += "	,@Remarks ";
							query   += ")";
						
						var comm = con.createCommand(query);
						if(comm != null){
							comm.addParameter("@StockID", "Int32", id);
							comm.addParameter("@LotNumber", "String", lotnumber);
							comm.addParameter("@QuantitySignedOut", "Int32", _quantity_signed_out);
							comm.addParameter("@DateOfUsage", "String", _date_of_usage);
							comm.addParameter("@Remarks", "String", _remarks);
							comm.executeNonQuery();
							con.close();
							
							loadData();
							
							stock_dlg.toggle();
							stock_dlg = null;			
						}
						else con.close();
					}
				}
				else{
					var item = $(stock_dlg.el).find(".quantity-signed-out-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Only "+available+" remaining");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}					
			}
			else{
				if( _quantity_signed_out.length == 0){
					var item = $(stock_dlg.el).find(".quantity-signed-out-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Quantity signed out is required");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
				
				if( _date_of_usage.length == 0){
					var item = $(stock_dlg.el).find(".date-of-usage-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Date of usage is required");
					}
				}
			}				
		});
}

function add_stock(item, id, name, unit){
	hideNavigationDropMenu();
	
	var content = '';
		content += '<div class="bar-container" style="margin:0px;">';
		content += '	<div class="bar-progress"></div>';
		content += '</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-clipboard-text-outline" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Name" disabled value="'+name+'"  class="name-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px; ">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-clipboard-text-outline" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Unit" disabled value="'+unit+'" class="unit-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-pound-box" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Lot Number" class="lot-number-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-calendar-outline" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Expiry Date" class="expiry-date-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';		
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-counter" />';	
		content += '					</div>';	
		content += '					<input onkeypress="return isNumberKey(event)" type="text" placeholder="Quantity Supplied" class="quantity-supplied-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-calendar-today" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Date received" class="date-received-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
				
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:3px;">';	
		content += '						<i class="mdi mdi-factory" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Manufacturer" class="manufacturer-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';		
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:3px;">';	
		content += '						<i class="mdi mdi-factory" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Supplier" class="supplier-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';	
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px; min-width:210px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-cash-register" />';	
		content += '					</div>';	
		content += '					<input onkeypress="return isDecimalKey(event)" type="text" placeholder="Cost per Unit" class="cost-per-unit-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '		<div class="FlexDisplay FlexRow FlexGrow"  style="height:32px;">';						
		content += '			<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '				<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '					<div class="icon" style="padding-top:4px;">';	
		content += '						<i class="mdi mdi-clipboard-text-outline" />';	
		content += '					</div>';	
		content += '					<input type="text" placeholder="Remarks"  class="remarks-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '					<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:4px 0px 0px 1px; min-width:32px; max-width:32px;">';
		content += '						<i class="mdi mdi-playlist-plus" />';
		content += '					</div>';
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		
		content += '</div>';
		
		var stock_dlg = ShowDialog('<i class="mdi mdi-clipboard-list-outline"></i>', "Add Stock", content,{
			onCloseDialog : function() {
				stock_dlg = null;
				return false; 
			}
		},"480px");
		
		var expiry_date_datepicker = InitDatePicker($(stock_dlg.el).find('.expiry-date-input')		, {language: 'en' ,dateFormat: 'dd/mm/yyyy', position: "left top" });
		var date_received_datepicker = InitDatePicker($(stock_dlg.el).find('.date-received-input')	, {language: 'en' ,dateFormat: 'dd/mm/yyyy', position: "left top" });
		
		$(stock_dlg.el).find(".cost-per-unit-input").on('change keydown paste input', function(){
			var val = $(this).val().trim();
			if(val.length > 0){
				if(/^\d+(\.\d{1,2})?$/im.test(val.trim()))$(this).parent().removeClass("is-invalid");
				else $(this).parent().addClass("is-invalid");
			}
		});
		
		focusEvents($(stock_dlg.el).find(".expiry-date-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
				$(this).parent().attr("tooltip","");
			},
			function(){
				var val = $(this).val();
				if(val.trim().length > 0){
					if (/^\d{2}[.\/-]\d{2}[.\/-]\d{4}$/im.test(val.trim())){
						$(this).parent().removeClass("is-invalid");
					}
					else $(this).parent().addClass("is-invalid");
				}
				else $(this).parent().removeClass("is-invalid");
			}
		);
		
		focusEvents($(stock_dlg.el).find(".date-received-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
				$(this).parent().attr("tooltip","");
			},
			function(){
				var val = $(this).val();
				if(val.trim().length > 0){
					if (/^\d{2}[.\/-]\d{2}[.\/-]\d{4}$/im.test(val.trim())){
						$(this).parent().removeClass("is-invalid");
					}
					else $(this).parent().addClass("is-invalid");
				}
				else $(this).parent().removeClass("is-invalid");
			}
		);

		$(stock_dlg.el).find(".enter-value").unbind( "click" );
		$(stock_dlg.el).find(".enter-value").click(function() {
			var _lot_number = $(stock_dlg.el).find(".lot-number-input").val().trim();
			var _expiry_date = $(stock_dlg.el).find(".expiry-date-input").val().trim();
			var _quantity_supplied = $(stock_dlg.el).find(".quantity-supplied-input").val().trim();			
			var _date_received = $(stock_dlg.el).find(".date-received-input").val().trim();
			
			var _manufacturer = $(stock_dlg.el).find(".manufacturer-input").val().trim();			
			var _supplier = $(stock_dlg.el).find(".supplier-input").val().trim();
			var _cost_per_unit = $(stock_dlg.el).find(".cost-per-unit-input").val().trim();
			var _remarks = $(stock_dlg.el).find(".remarks-input").val().trim();
						
			if(_lot_number.length > 0 && _expiry_date.length > 0 && _quantity_supplied.length > 0 && _date_received.length > 0 &&
				!$(stock_dlg.el).find(".expiry-date-input").hasClass("is-invalid") &&
				!$(stock_dlg.el).find(".date-received-input").hasClass("is-invalid") &&
				!$(stock_dlg.el).find(".cost-per-unit-input").hasClass("is-invalid")){
				
				var exists = false;
				var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
				if(con != null){
					con.open();

					var query   = "SELECT `ID` ";
						query  += "FROM `stock_items` "; 
						query  += "WHERE LOWER(`LotNumber`) = LOWER(@LotNumber)  ";
						query  += "AND `StockID` = @StockID  ";
					
					var comm = con.createCommand(query);
					if(comm != null){
						comm.addParameter("@LotNumber", "String", _lot_number);
						comm.addParameter("@StockID", "Int32", id);
						var reader = comm.executeReader();
						if(reader != null){
							exists = reader.read();
							reader.close();
							con.close();				
						}
						else con.close();
					}
					else con.close();
				}
				
				if(!exists){
					var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
					if(con != null){
						con.open();

						var query    = "INSERT INTO `stock_items` ( ";
							query   += "	`StockID` ";
							query   += "	,`LotNumber` ";
							query   += "	,`ExpiryDate` ";
							query   += "	,`Manufacturer` ";
							query   += "	,`Supplier` ";
							query   += "	,`QuantitySupplied` ";
							query   += "	,`CostPerUnit` ";
							query   += "	,`DateReceived` ";
							query   += "	,`Remarks` ";
							query   += ") ";
							query   += "VALUES ( ";
							query   += "	@StockID ";
							query   += "	,@LotNumber ";
							query   += "	,@ExpiryDate ";
							query   += "	,@Manufacturer ";
							query   += "	,@Supplier ";
							query   += "	,@QuantitySupplied ";
							query   += "	,@CostPerUnit ";
							query   += "	,@DateReceived ";
							query   += "	,@Remarks ";
							query   += ")";
						
						var comm = con.createCommand(query);
						if(comm != null){
							comm.addParameter("@StockID", "Int32", id);
							comm.addParameter("@LotNumber", "String", _lot_number);
							comm.addParameter("@ExpiryDate", "String", _expiry_date);
							comm.addParameter("@Manufacturer", "String", _manufacturer);
							comm.addParameter("@Supplier", "String", _supplier);
							comm.addParameter("@QuantitySupplied", "Int32", _quantity_supplied);
							comm.addParameter("@CostPerUnit", "Int32", _cost_per_unit);
							comm.addParameter("@DateReceived", "String", _date_received);
							comm.addParameter("@Remarks", "String", _remarks);
							comm.executeNonQuery();
							con.close();
							
							loadData();
							
							stock_dlg.toggle();
							stock_dlg = null;			
						}
						else con.close();
					}
				}
				else{
					//stock.LotNumber = _lot_number;
					//stock.ExpiryDate = _expiry_date;
					//stock.Manufacturer = _manufacturer;
					//stock.Supplier = _supplier;
					//stock.QuantitySupplied = _quantity_supplied;
					//stock.CostPerUnit = _cost_per_unit;
					//stock.DateReceived = _date_received;
					//stock.Remarks = _remarks;
					//
					//System.IO.File.WriteAllText(config_file,JSON.stringify(configs));						
					//
					//loadData();
					//
					//stock_dlg.toggle();
					//stock_dlg = null;
					
					var item = $(stock_dlg.el).find(".lot-number-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Lot number already exists");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
			}
			else{
				if( _lot_number.length == 0){
					var item = $(stock_dlg.el).find(".lot-number-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Lot number is required");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
				
				if( _expiry_date.length == 0){
					var item = $(stock_dlg.el).find(".expiry-date-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Expiry date is required");
					}
				}
				
				if( _quantity_supplied.length == 0){
					var item = $(stock_dlg.el).find(".quantity-supplied-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Quantity supplied is required");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
				
				if( _date_received.length == 0){
					var item = $(stock_dlg.el).find(".date-received-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Date received is required");
					}
				}
			}
		});

}

function add_item(id, name, unit, remarks){
	var isDefault = "mdi-help-circle";

	var usage = getUsage(id);
	var quantity = usage.quantity;
	var available = usage.available;
	
	var stock  = '<div class="FlexDisplay FlexRow Divider-Bottom" style="width:100%; padding:0px; min-height: 32px; max-height: 32px;">';
		stock += '	<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; min-height: 32px; max-height: 32px; padding:0px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%;"><i class="mdi '+isDefault+'"></i></span></div>';
		stock += '	<div class="FlexDisplay Divider-Right" style="min-width:200px; max-width:200px; min-height: 32px; max-height: 32px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">'+name+'</span></div>';
		stock += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">'+quantity+'</span></div>';
		stock += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 32px; max-height: 32px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">'+available+'</span></div>';
		stock += '	<div class="FlexDisplay" style="width:100%; min-height: 32px; max-height: 32px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">'+unit+'</span></div>';			
		stock += '	<div onclick="add_stock(this, '+id+', \''+name+'\', \''+unit+'\')" class="FlexDisplay" tooltip="Add stock" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-folder-plus-outline" style="margin:0px; padding:0px;"></i></div>';
		if(available > 0)stock += '	<div onclick="update_stock(this, '+id+', \''+name+'\', \''+unit+'\')" class="FlexDisplay" tooltip="Update stock usage" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-plus-minus-box" style="margin:0px; padding:0px;"></i></div>';
		stock += '	<div onclick="edit_item(this, '+id+', \''+name+'\', \''+unit+'\', \''+remarks+'\')" class="FlexDisplay" tooltip="Edit item" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-square-edit-outline" style="margin:0px; padding:0px;"></i></div>';
		stock += '	<div onclick="delete_item(this, '+id+', \''+name+'\')" class="FlexDisplay" tooltip="Delete item" flow="left" style="cursor:pointer; min-height: 32px; max-height: 32px; padding:0px 8px 0px 8px; font-size:20px;"><i class="mdi mdi-delete-sweep" style="margin:0px; padding:0px;"></i></div>';
		stock += '</div>';

	$(".StocksList").append(stock);
}

function loadData(){
	$(".StocksList").html('');
	
	var rows = [];
	var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
	if(con != null){
		con.open();

		var query  = "SELECT ";
			query += "	`ID` ";
			query += "	, `Name` ";
			query += "	, IFNULL(`Unit`,'') as `Unit` ";
			query += "	, IFNULL(`Remarks`,'') as `Remarks` ";
			query += "FROM `stocks` ";
				
		var comm = con.createCommand(query);
		if(comm != null){
			var reader = comm.executeReader();
			if(reader != null){
				while(reader.read()){
					var row = JSON.parse(reader.getValues());	
					if(row != undefined && row != null){
						rows.push(row);
					}
				}
				reader.close();
				con.close();				
			}
			else con.close();
		}
		else con.close();
	}
	
	for(var x=0; x<rows.length; x++){
		var row = rows[x];
		add_item(row.ID, row.Name, row.Unit, row.Remarks);
	}
}

$(".add-item").unbind( "click" );
$(".add-item").click(function(){	
	hideNavigationDropMenu();
	
	var content = '';
		content += '<div class="bar-container" style="margin:0px;">';
		content += '	<div class="bar-progress"></div>';
		content += '</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Name"  class="name-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-top:4px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div tooltip="" flow="left" class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Unit"  class="unit-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		content += '	<div class="FlexDisplay FlexRow"  style="width:100%; height:32px; margin-bottom:8px; padding:2px 8px;">';						
		content += '		<div class="FlexDisplay Flex" style="min-width:150px;">';
		content += '			<div class="FlexDisplay Flex FlexRow form-control" style="margin:0px 4px 0px 0px; border-radius:2px; ">';	
		content += '				<div class="icon" style="padding-top:0px;">';	
		content += '					<i class="mdi mdi-clipboard-text-outline" />';	
		content += '				</div>';	
		content += '				<input type="text" placeholder="Remarks"  class="remarks-input" style="padding:0px 0px 0px 8px;"/>';	
		content += '				<div class="enter-value icon btn-color Divider-Left scan"  style="border-radius: 0 0px 0px 0; padding:1px 0px 0px 1px; min-width:32px; max-width:32px;">';
		content += '					<i class="mdi mdi-playlist-plus" />';
		content += '				</div>';
		content += '			</div>';
		content += '		</div>';
		content += '	</div>';
		
		
		content += '</div>';
		
		var stock_dlg = ShowDialog('<i class="mdi mdi-clipboard-list-outline"></i>', "Add Item", content,{
			onCloseDialog : function() {
				stock_dlg = null;
				return false; 
			}
		},"320px");	
		
		focusEvents($(stock_dlg.el).find(".name-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
			},
			function(){
			
			}
		);

		focusEvents($(stock_dlg.el).find(".unit-input"),
			function(){
				$(this).parent().removeClass("is-invalid");
			},
			function(){
				
			}
		);
		
		$(stock_dlg.el).find(".enter-value").unbind( "click" );
		$(stock_dlg.el).find(".enter-value").click(function() {
			var _name = $(stock_dlg.el).find(".name-input").val().trim();
			var _unit = $(stock_dlg.el).find(".unit-input").val().trim();
			var _remarks = $(stock_dlg.el).find(".remarks-input").val().trim();
			
			if(_name.length > 0 && _unit.length > 0){
				
				var exists = false;
				var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
				if(con != null){
					con.open();

					var query   = "SELECT `ID` ";
						query  += "FROM `stocks` "; 
						query  += "WHERE `Name` = @Name  ";
					
					var comm = con.createCommand(query);
					if(comm != null){
						comm.addParameter("@Name", "String", _name);
						var reader = comm.executeReader();
						if(reader != null){
							exists = reader.read();
							reader.close();
							con.close();				
						}
						else con.close();
					}
					else con.close();
				}
				
				if(!exists){
					_name = _name.charAt(0).toUpperCase() + _name.slice(1);
					
					var con = new SqlLiteConnection(System.IO.Path.Combine(getRootPath(),"databases","bhis_dict.db"),"","");
					if(con != null){
						con.open();

						var query    = "INSERT INTO `stocks` ( ";
							query   += "	`Name` ";
							query   += "	,`Unit` ";
							query   += "	,`Remarks` ";
							query   += ") ";
							query   += "VALUES ( ";
							query   += "	@Name ";
							query   += "	,@Unit ";
							query   += "	,@Remarks ";
							query   += ")";
						
						var comm = con.createCommand(query);
						if(comm != null){
							comm.addParameter("@Name", "String", _name);
							comm.addParameter("@Unit", "String", _unit);
							comm.addParameter("@Remarks", "String", _remarks);
							comm.executeNonQuery();
							con.close();

							loadData();
											
							stock_dlg.toggle();
							stock_dlg = null;			
						}
						else con.close();
					}
				}
				else{
					var item = $(stock_dlg.el).find(".name-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Item already exists");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
				
			}
			else{
				if(_name.length == 0){
					var item = $(stock_dlg.el).find(".name-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Name is required");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
				
				if( _unit.length == 0){
					var item = $(stock_dlg.el).find(".unit-input");
					if(item != undefined && item != null){
						item.parent().addClass("is-invalid");
						item.parent().attr("tooltip","Unit is required");
						item.focus(function(){
							$(this).parent().removeClass("is-invalid");
							$(this).parent().attr("tooltip","");
						});
					}
				}
			}
		});
	
});

$(".add-item").mouseup(function(){
	return false;
});
$(".submenu").mouseup(function(){
	return false;
});

$('.add-item .submenu .root .nav-button').each(function (index, value) {
	$(this).click(function(){
		
	});
});

loadData();

hideNavigationDropMenu();

closeLoadingPage();	
</script>