<div class="pp-tableCell" style="height:100%">
	<div class="FlexDisplay FlexColumn container"  style="margin:0px; padding:0px; height:100%;">
		<div class="FlexDisplay" style="background:#535FD7; height:48px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);" >
			<div id="backBtn"  class="nav-button" >
				<i class="mdi mdi-apps"></i>
			</div>
			<div class="FlexDisplay">
				<span class="BLIS-Title" style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; font-weight:normal; font-size:12px; color:#ffffff; margin:auto 8px;">Basic Laboratory Information System</span>
			</div>
		</div>
		<div class="FlexDisplay Flex inner-section FadeIn"  style="width:100%; height:1px;">
			<div class="scroll scroll2 FlexBoxSizing-BorderBox" style="overflow-y:auto; width:100%; height:100%; padding:8px;">
				<div class="Flex FlexColumn inner-container Round Shadow Overflow-Hidden" style="position:relative;">
					<div class="Divider-Bottom Overflow-Hidden" style="min-height:48px; max-height:48px; width:100%;">
						<div class="feature-content">
							<h4 class="feature-title mt-0" style="margin:6px 0px 0px 16px;">Settings</h4>
						</div>
					</div>
					<div style="width:100%;">
					
						<div class="Divider-Bottom FlexDisplay FlexRow" style="min-height:48px; max-height:48px;" >
							<div class="feature-content">
								<h4 class="feature-title mt-0" style="margin:8px 0px 0px 16px; font-size: 16px; font-weight:normal;">Dark Mode</h4>
							</div>
							<div class="FlexDisplay FlexGrow" style="height:100%;"></div>
							<div style="min-height:32px; max-height:32px;">
								<div style="min-height:32px; max-height:32px; margin:4px 0px 0px 0px;">
									<input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch">
									<label for="lights-toggle" ></label>
								</div>
							</div>
						</div>								
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var lightSwitch = doc.getElementById('lights-toggle');

if (lightSwitch) {
	lightSwitch.checked = $("body").hasClass("lights-off");
	
	lightSwitch.addEventListener('change', function(){
		var page = System.IO.Path.Combine("web","blis","index.htm");
		if(System.IO.File.Exists(page)){
			var content = System.IO.File.ReadAllText(page);
			
			if (lightSwitch.checked) {
				body.classList.add('lights-off');
				content = System.Text.RegularExpressions.Regex.Replace(content, "<body(.*)>", "<body class='is-boxed has-animations is-loaded lights-off'>");
			} else {
				body.classList.remove('lights-off');				
				content = System.Text.RegularExpressions.Regex.Replace(content, "<body(.*)>", "<body class='is-boxed has-animations is-loaded'>");
			  
			}
			System.IO.File.WriteAllText(page, content);
		}
	});
}

$('#backBtn').click(function(){
	var page = System.IO.Path.Combine("web","blis","views",backNavigation);
	loadSubPage(System.IO.Path.Combine(System.Environment.get_CurrentDirectory(),page), true);
});

closeLoadingPage();
</script>